<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <!-- Dodaj linki do stylów CSS, jeśli są wymagane -->
</head>
<body>

    <h1>Szczegóły</h1>

    <div>
        <label>Nazwa:</label>
        <span>{{ selectedEventName }}</span>
    </div>

    <div>
        <label>Data:</label>
        <span>{{ selectedEventDate }}</span>
    </div>

    <!-- Dodaj inne właściwości wydarzenia, jeśli są wymagane -->

    <!-- Dodaj skrypty JavaScript, jeśli są wymagane -->

</body>
</html>
