<div class="col-6">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" (click)="goBack()">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
    <h2 style="margin-left: 10px;">Szczegóły wydarzenia</h2>
  </div><br>

<!-- Edycja wydarzenia -->
<form *ngIf="isEditMode" (submit)="saveChanges()" class="edit-form">
  <div class="form-group">
    <!-- <label for="eventName">Nazwa:</label> -->
    <input type="text" id="eventName" [(ngModel)]="selectedEventName" name="eventName" required>
  </div>

  <div class="form-group">
    <label for="description">Opis:</label>
    <input type="text" id="description" [(ngModel)]="selectedDescription" name="description" required>
  </div>

  <div class="form-group">
    <label for="eventDate">Data:</label>
    <input type="text" id="eventDate" [(ngModel)]="selectedEventDate" name="eventDate" required>
  </div>

  <div class="form-group">
    <label for="startEventTime">Godzina rozpoczęscia:</label>
    <input type="text" id="startEventTime" [(ngModel)]="selectedStartEventTime" name="startEventTime" required>
  </div>

  <div class="form-group">
    <label for="endEventTime">Godzina zakończenia:</label>
    <input type="text" id="endEventTime" [(ngModel)]="selectedEndEventTime" name="endEventTime" required>
  </div>

  

  <!-- <mat-select id="classGroups" [(ngModel)]="selectedClassGroups" name="classGroups" multiple [compareWith]="compareFn">
    <mat-option *ngFor="let group of allClassGroups" [value]="group">
      {{ group.name }}
    </mat-option>
  </mat-select> -->
  

  <mat-form-field appearance="fill" class="input-container">
    <input matInput placeholder="Wyszukaj po nazwie" (input)="onSearchChange($event)">
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-container">
    <mat-label>Wybierz grupy</mat-label>
    <mat-select id="classGroups" [(ngModel)]="selectedClassGroups" name="classGroups" multiple [compareWith]="compareFn" class="userSelect">
      <mat-option *ngFor="let group of allClassGroups" [value]="group">
        {{ group.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  
  

  <div class="button-group">
    <button type="submit" class="save-button">Zapisz</button>
    <button (click)="cancelEdit()" class="cancel-button">Anuluj</button>
  </div>
</form>

<!-- Wyświetlanie informacji o wydarzeniu -->
<div *ngIf="!isEditMode" class="event-details">
  <div class="info-group">
    <span class="eventName">{{ selectedEventName }}</span>
    
  </div>
  <span class="eventDate">{{ selectedEventDate }}</span>
  <span class="eventDate">{{ selectedStartEventTime }}-{{selectedEndEventTime }}</span><br><br>

  <span class="description">{{ selectedDescription }}</span><br><br>

  <!-- <div class="info-group">
    <label>Data:</label>
    <span>{{ selectedEventDate }}</span>
  </div> -->

  <!-- Grupy klasowe w tabeli -->
<div class="info-group" *ngIf="actionsTeachacher()">
    <table>
      <thead>
        <tr>
          <th>Grupy zajęciowe</th>
          <!-- Dodaj inne nagłówki tabeli w razie potrzeby -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classGroup of selectedClassGroups">
          <td>{{ classGroup.name }}</td>
          <!-- Dodaj inne komórki w wierszu, jeśli istnieją dodatkowe informacje do wyświetlenia -->
        </tr>
      </tbody>
    </table>
  </div>
  

  <div class="button-group" *ngIf="actionsTeachacher()">
    <button (click)="startEdit()" class="save-button">Edytuj</button>
    <button (click)="deleteEvent()" class="cancel-button">Usuń</button>
  </div>
</div>
