
    <h1>Szczegóły</h1>

    <form *ngIf="isEditMode" (submit)="saveChanges()">
        <div>
            <label for="eventName">Nazwa:</label>
            <input type="text" id="eventName" [(ngModel)]="selectedEventName" name="eventName" required>            
        </div>

        <div>
            <label for="eventDate">Data:</label>
            <input type="text" id="eventDate" [(ngModel)]="selectedEventDate" name="eventDate" required>
        </div>

        <button type="submit">Zapisz</button>
        <button (click)="cancelEdit()">Anuluj</button>
    </form>

    <div *ngIf="!isEditMode">
        <div>
            <label>Nazwa:</label>
            <span>{{ selectedEventName }}</span>
        </div>

        <div>
            <label>Data:</label>
            <span>{{ selectedEventDate }}</span>
        </div>

        <button (click)="startEdit()">Edytuj</button>
        <button (click)="deleteEvent()">Usuń</button>
    </div>

