<!-- <h2>Szczegóły materiału edukacyjnego</h2>
<div *ngIf="eduMaterial">
  <p>Nazwa: {{ eduMaterial.name }}</p>
  <p>Opis: {{ eduMaterial.description }}</p>
</div> -->

<div class="col-6">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" (click)="goBack()">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
  </svg>
  <h2 style="margin-left: 10px;">{{ selectedSectionName }}</h2>
</div><br>

<form (submit)="submitForm()">
    <div>
      <label for="name"></label>
      <input style="font-size: large;" *ngIf="eduMaterial.isEdit" class="input" type="text" id="name" name="name" [(ngModel)]="eduMaterial.name">
      <span style="font-size: large;" class="input" *ngIf="!eduMaterial.isEdit">{{ eduMaterial.name }}</span>
      <button class="editButton" *ngIf="!eduMaterial.isEdit && actionsTeachacher()" (click)="onEdit(eduMaterial)">Edytuj</button>
      <button class="saveButton" *ngIf="eduMaterial.isEdit" type="submit">Zapisz zmiany</button>
      <button class="closeButton" *ngIf="eduMaterial.isEdit" (click)="onCloseButton()">Anuluj</button>
    </div>
    <div>
      <label for="description"></label>
      <textarea class="textarea" id="description" name="description" [(ngModel)]="eduMaterial.description" [readonly]="!eduMaterial.isEdit"></textarea>
      <!-- <span class="input" *ngIf="!eduMaterial.isEdit">{{ eduMaterial.description }}</span> -->
    </div>
    <!-- <button *ngIf="eduMaterial.isEdit" type="submit">Zapisz zmiany</button> -->
  </form><br>

<div class="panelfiles">
  <h2 style="margin-bottom: -15px;">Panel do dodawania plików</h2>
  
  <!-- Formularz do dodawania plików -->
  <form (submit)="onAddFile(eduMaterial)" enctype="multipart/form-data">
    <label for="file">Wybierz plik:</label>
    <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .jpg, .png" (change)="onFileSelected($event)">
    <!-- Akceptowane rozszerzenia plików -->
    <button type="submit">Prześlij plik</button>
  </form><br>

  <div *ngIf="emFiles && emFiles.length > 0">
    <h2 style="margin-bottom: -10px;">Pliki materiałów edukacyjnych</h2>
    <ul>
      <li *ngFor="let emFile of emFiles">
        <a (click)="downloadFileById(emFile.id)" href="javascript:void(0);" >{{ emFile.name }}</a>
        <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteEMFile(emFile)"></i>
      </li>
    </ul>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>&copy; 2023 EduSolution. Wszelkie prawa zastrzeżone.</p>
    <p>Kontakt: kontakt@example.com</p>
  </div>
</footer>


