<!-- <h2>Szczegóły materiału edukacyjnego</h2>
<div *ngIf="eduMaterial">
  <p>Nazwa: {{ eduMaterial.name }}</p>
  <p>Opis: {{ eduMaterial.description }}</p>
</div> -->

<form (submit)="submitForm()">
    <div>
      <label for="name"></label>
      <input *ngIf="eduMaterial.isEdit" class="input" type="text" id="name" name="name" [(ngModel)]="eduMaterial.name">
      <span class="input" *ngIf="!eduMaterial.isEdit">{{ eduMaterial.name }}</span>
      <button *ngIf="!eduMaterial.isEdit" (click)="onEdit(eduMaterial)">Edytuj</button>
      <button *ngIf="eduMaterial.isEdit" (click)="notOnEdit(eduMaterial)" type="submit">Zapisz zmiany</button>
    </div>
    <div>
      <label for="description"></label>
      <textarea class="textarea" id="description" name="description" [(ngModel)]="eduMaterial.description"></textarea>
      <!-- <span class="input" *ngIf="!eduMaterial.isEdit">{{ eduMaterial.description }}</span> -->
    </div>
    <!-- <button *ngIf="eduMaterial.isEdit" type="submit">Zapisz zmiany</button> -->
  </form>

<body>
    <h2>Panel do dodawania plików</h2>
    
    <!-- Formularz do dodawania plików -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Wybierz plik:</label>
        <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .jpg, .png"> <!-- Akceptowane rozszerzenia plików -->
        <input type="submit" value="Prześlij plik">
    </form>
</body>
