<div class="col-6">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" (click)="goBack()">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
    <h2 style="margin-left: 10px;">Wybierz grupę w kursie {{ selectedCourseName }} {{ selectedCourseDifficultyLevel }} </h2>
  </div><br>

<mat-button-toggle-group name="status" [(ngModel)]="selectedStatus" style="margin-left: 7px;">
    <mat-button-toggle (click)="filterClassGroupsByStatus('Wszystkie')" value="Wszystkie">Wszystkie</mat-button-toggle>
    <mat-button-toggle (click)="filterClassGroupsByStatus('OCZEKUJĄCY')" value="OCZEKUJĄCY">OCZEKUJĄCY</mat-button-toggle>
    <mat-button-toggle (click)="filterClassGroupsByStatus('WTRAKCIE')"value="WTRAKCIE">W TRAKCIE</mat-button-toggle>
    <mat-button-toggle (click)="filterClassGroupsByStatus('ZAKOŃCZONY')" value="ZAKOŃCZONY">ZAKOŃCZONY</mat-button-toggle>
</mat-button-toggle-group><br><br>

<div class="page-container">
<div class="row">
    <div class="col-7">

    </div>
    <div class="col-2 text-end"> 
        <!-- <input type="text" [(ngModel)]="searchText" placeholder="Search" (ngModelChange)="filter($event)" class="form-control"> -->
    </div>
    
</div>
<br><br>
<div class="row">
    <div class="col-8">
        <table class="table table-bordered ">
            <thead>
                <tr class="bg-success text-white">
                    <th>Lp</th>
                    <th (click)="onNameSort()" style="text-align: left;">Nazwa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of filteredCourses;let srNo = index">
                    <td>{{srNo+1}}</td>
                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.name">
                                <div class="text-danger error-message" *ngIf="!course.name">
                                    {{(course.name)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.name}}
                        </div>
                     
                    </td>  

                    <td>
                        <a [routerLink]="['/classGroupsByCourseAndUser', course.id]" style="cursor: pointer; text-decoration: none; color: #1b7ce4;">Przejdź dalej</a> 
                    </td>            
                </tr>
            </tbody>
        </table>
    </div>
</div><br><br>

<!-- <a [routerLink]="['/usersByYearBook']">Zobacz zarchiwizowane oceny</a>  -->

<footer class="footer">
    <div class="container">
      <p>&copy; 2023 EduSolution. Wszelkie prawa zastrzeżone.</p>
      <p>Kontakt: kontakt@example.com</p>
    </div>
</footer>
</div>