/* Stylizacja głównego kontenera */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 1px;
    width: 900px;
  }
  
  /* Stylizacja panelu plików */
  .panelfiles {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Stylizacja nagłówka "Materiał edukacyjny" */
  .panelfiles h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Stylizacja etykiet formularza */
  .form-group label {
    font-weight: bold;
  }
  
  
  /* Stylizacja pola tekstowego "Polecenie" */
  .textarea {
    width: 830px;
    height: 500px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  /* Stylizacja przycisku do przesyłania plików */
  .form-group input[type="file"] {
    margin-top: 10px;
  }
  
  /* Stylizacja listy plików */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Stylizacja elementów listy plików */
  li {
    margin-bottom: 10px;
  }
  
  /* Stylizacja ikony usuwania pliku */
  .fa-trash-o {
    margin-left: 10px;
    color: #d9534f;
    cursor: pointer;
  }
  
  /* Stylizacja stopki */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Stylizacja linków w stopce */
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Stylizacja linków w stopce po najechaniu kursorem */
  .footer a:hover {
    text-decoration: underline;
  }

  li {
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }
  
  a {
    text-decoration: none;
    color: #000000;
    font-size:medium;
  }
  
  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

 .filesadd{
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    width: 500px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
 }

 .filesadd form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Styl dla pola wyboru pliku */
  .filesadd form input[type="file"] {
    margin-bottom: 10px;
  }
  
  /* Styl dla przycisku "Prześlij plik" */
  .panelfiles form button[type="submit"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Styl dla przycisku "Prześlij plik" po najechaniu myszą */
  .panelfiles form button[type="submit"]:hover {
    background-color: #0056b3;
  }

 
  

  

  
  
 
  