<!-- <form (submit)="submitForm()"> -->
    <!-- <div>
      <label for="name"></label>
      <input *ngIf="homeworkTest.isEdit" class="input" type="text" id="name" name="name" [(ngModel)]="homeworkTest.name">
      <span class="input" *ngIf="!homeworkTest.isEdit">{{ homeworkTest.name }}</span>
      <button class="editButton" *ngIf="!homeworkTest.isEdit" (click)="onEdit(homeworkTest)">Edytuj</button>
      <button class="saveButton" *ngIf="homeworkTest.isEdit"  type="submit">Zapisz zmiany</button>
    </div>
    <div>
      <label for="taskContent"></label>
      <textarea class="textarea" id="taskContent" name="taskContent" [(ngModel)]="homeworkTest.taskContent" [readonly]="!homeworkTest.isEdit"></textarea> -->
      <!-- <span class="input" *ngIf="!eduMaterial.isEdit">{{ eduMaterial.description }}</span> -->
    <!-- </div> -->
    <!-- <button *ngIf="eduMaterial.isEdit" type="submit">Zapisz zmiany</button> -->
<!-- </form> -->

<!-- <div class="panelfiles">   -->
  <!-- Formularz do dodawania plików -->
  <!-- <form (submit)="onAddFile(homeworkTest)" enctype="multipart/form-data">
    <label for="file">Wybierz plik:</label>
    <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .jpg, .png" (change)="onFileSelected($event)"> -->
    <!-- Akceptowane rozszerzenia plików -->
    <!-- <button type="submit">Prześlij plik</button>
  </form>

  <div *ngIf="htFiles && htFiles.length > 0">
    <h2>Pliki do zadania:</h2>
    <ul>
      <li *ngFor="let htFile of htFiles">
        <a (click)="downloadFileById(htFile.id)" href="javascript:void(0);" >{{ htFile.name }}</a>
        <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteEMFile(htFile)"></i>
      </li>
    </ul>
  </div>
</div> -->

<!-- <div class="panelfiles">
    <h2>Materiał edukacyjny</h2>
    <form (submit)="submitForm()">
      <div class="form-group">
        <label for="name">Nazwa:</label>
        <input *ngIf="homeworkTest.isEdit" class="input" type="text" id="name" name="name" [(ngModel)]="homeworkTest.name">
        <span class="input" *ngIf="!homeworkTest.isEdit">{{ homeworkTest.name }}</span>
        <button class="editButton" *ngIf="!homeworkTest.isEdit" (click)="onEdit(homeworkTest)">Edytuj</button>
        <button class="saveButton" *ngIf="homeworkTest.isEdit" type="submit">Zapisz zmiany</button>
      </div>
      <div class="form-group">
        <label for="taskContent">Polecenie:</label>
        <textarea class="textarea" id="taskContent" name="taskContent" [(ngModel)]="homeworkTest.taskContent" [readonly]="!homeworkTest.isEdit"></textarea>
      </div>
    </form>
  
    <form (submit)="onAddFile(homeworkTest)" enctype="multipart/form-data">
      <div class="form-group">
        <label for="file">Wybierz plik:</label>
        <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .jpg, .png" (change)="onFileSelected($event)">
      </div>
      <button type="submit">Prześlij plik</button>
    </form>
  
    <div *ngIf="htFiles && htFiles.length > 0">
      <h2>Pliki do zadania:</h2>
      <ul>
        <li *ngFor="let htFile of htFiles">
          <a (click)="downloadFileById(htFile.id)" href="javascript:void(0);">{{ htFile.name }}</a>
          <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteEMFile(htFile)"></i>
        </li>
      </ul>
    </div>
  </div> -->

  <div class="container">
    <div class="panelfiles">
      <h2>Zadanie</h2>
      <form (submit)="submitForm()">
        <div class="form-group">
          <label for="name">Nazwa:</label><br>
          <input *ngIf="homeworkTest.isEdit" class="input" type="text" id="name" name="name" [(ngModel)]="homeworkTest.name">
          <span class="input" *ngIf="!homeworkTest.isEdit">{{ homeworkTest.name }}</span>
          <button class="editButton" *ngIf="!homeworkTest.isEdit" (click)="onEdit(homeworkTest)">Edytuj</button>
          <button class="saveButton" *ngIf="homeworkTest.isEdit" type="submit">Zapisz zmiany</button>
        </div><br>
        <label for="taskContent">Polecenie:</label>
        <div class="form-group">
          <!-- <label for="taskContent">Polecenie:</label> -->
          <textarea class="textarea" id="taskContent" name="taskContent" [(ngModel)]="homeworkTest.taskContent" [readonly]="!homeworkTest.isEdit"></textarea>
        </div>
    
        <!-- Formularz do dodawania plików -->
        <form (submit)="onAddFile(homeworkTest)" enctype="multipart/form-data">
          <div class="filesadd">
            <label for="file">Wybierz plik:</label>
            <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .jpg, .png" (change)="onFileSelected($event)">
            <!-- Akceptowane rozszerzenia plików -->
          <button type="submit">Prześlij plik</button>
          </div>
        </form>
    
        <div *ngIf="htFiles && htFiles.length > 0">
          <h2>Pliki do zadania:</h2>
          <ul>
            <li *ngFor="let htFile of htFiles">
              <a (click)="downloadFileById(htFile.id)" href="javascript:void(0);">{{ htFile.name }}</a>
              <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteEMFile(htFile)"></i>
            </li>
          </ul>
        </div>
      </form>
      <div *ngIf="answer">
        <button (click)="onEditAnswer(answer)">Edytuj odpowiedź</button>
        <button (click)="onDeleteAnswer(answer)">Usuń odpowiedź</button>
        <h2>Odpowiedź na pracę domową</h2>
        <p><strong>Zawartość odpowiedzi:</strong> {{ answer.answerContent }}</p>
        <p><strong>Status odpowiedzi:</strong> {{ answer.answerStatus }}</p>
        <div *ngIf="isAnswerContentVisible">
            <!-- Dodaj pole do edycji treści odpowiedzi -->
            <textarea class="textarea" id="answerContent" name="answerContent" [(ngModel)]="answer.answerContent"></textarea><br>
            <button (click)="onUpdateAnswer()">Zapisz zmiany</button>
            
        <!-- Formularz do dodawania plików -->
        <form (submit)="onAddAFile(answer)" enctype="multipart/form-data">
            <div class="filesadd">
              <label for="file">Wybierz plik:</label>
              <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .jpg, .png" (change)="onAFileSelected($event)">
              <!-- Akceptowane rozszerzenia plików -->
            <button type="submit">Prześlij plik</button>
            </div>
        </form>
            </div>

            <div *ngFor="let aFile of aFilesByAnswer" (click)="loadAFilesByAnswerId(answer.id)">
                <a (click)="downloadFileById(aFile.id)" href="javascript:void(0);">{{ aFile.name }}</a>
                <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteAFile(aFile)"></i>
            </div>

      </div>
      <div *ngIf="!answer">
        <p>Brak dostępnej odpowiedzi.</p>
        <button (click)="onEditAnswer(answer)">Dodaj odpowiedź</button>
        <div *ngIf="isAnswerContentVisible">
            <!-- <label for="answerContent">Treść odpowiedzi:</label> -->
            <textarea class="textarea" id="answerContent" name="answerContent" [(ngModel)]="newAnswerContent"></textarea>
            <button (click)="onSaveAnswer()">Zapisz odpowiedź</button>
          </div>
      </div>
      <br>
      <br>
      
      <!-- <div *ngFor="let classGroup of filteredClassGroups">
        <a  href="javascript:void(0);" (click)="loadClassGroupsByCoursesId(course.section.course.id)">{{ classGroup.name }}</a>
      </div> -->

      <mat-accordion>
        <mat-expansion-panel class="expansionPanel" *ngFor="let classGroup of filteredClassGroups; let srNo = index" (click)="getClassGroupId(classGroup.id)">
          <mat-expansion-panel-header class="header">
            <mat-panel-title class="matPanelTitle">{{ classGroup.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="answersByHomeworkTestAndClassGroup">
              <div *ngFor="let answer of answersByHomeworkTestAndClassGroup">
                {{ answer.user.firstName}} {{answer.user.lastName}} 
                {{ answer.answerContent }} 
              </div> 
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      

    </div>
  </div>
    
  <footer class="footer">
      <p>&copy; 2023 EduSolution. Wszelkie prawa zastrzeżone.</p>
      <p>Kontakt: kontakt@example.com</p>
  </footer>
  