<!-- <form (submit)="submitForm()"> -->
    <!-- <div>
      <label for="name"></label>
      <input *ngIf="homeworkTest.isEdit" class="input" type="text" id="name" name="name" [(ngModel)]="homeworkTest.name">
      <span class="input" *ngIf="!homeworkTest.isEdit">{{ homeworkTest.name }}</span>
      <button class="editButton" *ngIf="!homeworkTest.isEdit" (click)="onEdit(homeworkTest)">Edytuj</button>
      <button class="saveButton" *ngIf="homeworkTest.isEdit"  type="submit">Zapisz zmiany</button>
    </div>
    <div>
      <label for="taskContent"></label>
      <textarea class="textarea" id="taskContent" name="taskContent" [(ngModel)]="homeworkTest.taskContent" [readonly]="!homeworkTest.isEdit"></textarea> -->
      <!-- <span class="input" *ngIf="!eduMaterial.isEdit">{{ eduMaterial.description }}</span> -->
    <!-- </div> -->
    <!-- <button *ngIf="eduMaterial.isEdit" type="submit">Zapisz zmiany</button> -->
<!-- </form> -->

<!-- <div class="panelfiles">   -->
  <!-- Formularz do dodawania plików -->
  <!-- <form (submit)="onAddFile(homeworkTest)" enctype="multipart/form-data">
    <label for="file">Wybierz plik:</label>
    <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .jpg, .png" (change)="onFileSelected($event)"> -->
    <!-- Akceptowane rozszerzenia plików -->
    <!-- <button type="submit">Prześlij plik</button>
  </form>

  <div *ngIf="htFiles && htFiles.length > 0">
    <h2>Pliki do zadania:</h2>
    <ul>
      <li *ngFor="let htFile of htFiles">
        <a (click)="downloadFileById(htFile.id)" href="javascript:void(0);" >{{ htFile.name }}</a>
        <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteEMFile(htFile)"></i>
      </li>
    </ul>
  </div>
</div> -->

<!-- <div class="panelfiles">
    <h2>Materiał edukacyjny</h2>
    <form (submit)="submitForm()">
      <div class="form-group">
        <label for="name">Nazwa:</label>
        <input *ngIf="homeworkTest.isEdit" class="input" type="text" id="name" name="name" [(ngModel)]="homeworkTest.name">
        <span class="input" *ngIf="!homeworkTest.isEdit">{{ homeworkTest.name }}</span>
        <button class="editButton" *ngIf="!homeworkTest.isEdit" (click)="onEdit(homeworkTest)">Edytuj</button>
        <button class="saveButton" *ngIf="homeworkTest.isEdit" type="submit">Zapisz zmiany</button>
      </div>
      <div class="form-group">
        <label for="taskContent">Polecenie:</label>
        <textarea class="textarea" id="taskContent" name="taskContent" [(ngModel)]="homeworkTest.taskContent" [readonly]="!homeworkTest.isEdit"></textarea>
      </div>
    </form>
  
    <form (submit)="onAddFile(homeworkTest)" enctype="multipart/form-data">
      <div class="form-group">
        <label for="file">Wybierz plik:</label>
        <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .jpg, .png" (change)="onFileSelected($event)">
      </div>
      <button type="submit">Prześlij plik</button>
    </form>
  
    <div *ngIf="htFiles && htFiles.length > 0">
      <h2>Pliki do zadania:</h2>
      <ul>
        <li *ngFor="let htFile of htFiles">
          <a (click)="downloadFileById(htFile.id)" href="javascript:void(0);">{{ htFile.name }}</a>
          <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteEMFile(htFile)"></i>
        </li>
      </ul>
    </div>
  </div> -->

  <div class="col-6">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" (click)="goBack()">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
    <h2 style="margin-left: 10px;"></h2>
  </div><br>

  <div class="container">
    <div class="panelfiles">
      <form (submit)="submitForm()">
        <div class="form-group">
          <strong style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 23px;" for="name">Nazwa</strong><br><br>
          <input *ngIf="homeworkTest.isEdit" class="input" type="text" id="name" name="name" [(ngModel)]="homeworkTest.name">
          <span class="input" style="font-size: 20px;" *ngIf="!homeworkTest.isEdit">{{ homeworkTest.name }}</span>
          <button class="editButton" *ngIf="!homeworkTest.isEdit && actionsTeachacher()" (click)="onEdit(homeworkTest)">Edytuj</button>
          <button class="saveButton" *ngIf="homeworkTest.isEdit" type="submit">Zapisz zmiany</button>
        </div><br>
        <label for="taskContent" style="font-size: 20px;">Polecenie</label>
        <div class="form-group">
          <!-- <label for="taskContent">Polecenie:</label> -->
          <textarea class="textarea" id="taskContent" name="taskContent" [(ngModel)]="homeworkTest.taskContent" [readonly]="!homeworkTest.isEdit"></textarea>
        </div>

        
        <!-- <div style="background-color: lightblue; padding: 10px;">
          <h3>Termin oddania zadania:</h3>
          <span style="font-size: 18px;">{{ homeworkTest.deadline | date:'yyyy-MM-dd HH:mm:ss' }}</span>
        </div> -->

        <div style="background-color: rgb(173, 194, 226); padding: 10px;">
          <label style="font-size: 19px; font-weight: 640;">Termin oddania zadania</label><br><br>
          <ng-container *ngIf="!isEditingDate; else dateEditor">
            <span style="font-size: 15px;" (click)="isEditingDate = true">
              {{ homeworkTest.deadline | date:'yyyy-MM-dd HH:mm:ss' }}
            </span>
            <!-- Dodaj tutaj warunek sprawdzający obecność daty przed pokazaniem przycisku Edytuj -->
            <button class="editButton-term" *ngIf="homeworkTest && homeworkTest.deadline && actionsTeachacher()" (click)="isEditingDate = true">
              Edytuj
            </button>
          </ng-container><br><br>
          <p *ngIf="!calculateDaysUntilDeadline().overdue" style="font-size: 15px;">
            Pozostało: {{ calculateDaysUntilDeadline().days }} dni, {{ calculateDaysUntilDeadline().hours }} godzin, {{ calculateDaysUntilDeadline().minutes }} minut
          </p>
          
          <div *ngIf="calculateDaysUntilDeadline().overdue">
            <p style="font-size: 15px;">
              Termin zadania upłynął {{ calculateDaysUntilDeadline().days }} dni, {{ calculateDaysUntilDeadline().hours }} godzin i {{ calculateDaysUntilDeadline().minutes }} minut temu.
            </p>
          </div>
          <ng-template #dateEditor>
            <input type="datetime-local" name="editedDeadline" [(ngModel)]="editedDeadline">
            <button (click)="saveEditedDeadline()">Zapisz</button>
            <button (click)="cancelEditDate()">Anuluj</button>
          </ng-template>
        </div><br>
        
              
    
        <div>
          <h2 style="margin-bottom: -10px; font-size: 20px;">Pliki do zadania</h2>
          <form (submit)="onAddFile(homeworkTest)" enctype="multipart/form-data" *ngIf="actionsTeachacher()">
            <div class="filesadd">
              <label for="file">Wybierz plik: </label>
              <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .jpg, .png" (change)="onFileSelected($event)">
              <!-- Akceptowane rozszerzenia plików -->
            <button type="submit">Prześlij plik</button>
            </div>
          </form>
          <ul>
            <li *ngFor="let htFile of htFiles">
              <a (click)="downloadFileByIdHTFile(htFile.id)" href="javascript:void(0);">{{ htFile.name }}</a>
              <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteEMFile(htFile)"></i>
            </li>
          </ul>
        </div>
      </form><br>
      <div *ngIf="userRole === 'user' || userRole === 'admin'">
      <div *ngIf="answer">
        <h2>Odpowiedź na zadanie</h2>
        <button class="editButton-answer" (click)="onEditAnswer(answer)">Edytuj odpowiedź</button>
        <button class="deleteButton-answer" (click)="onDeleteAnswer(answer)">Usuń odpowiedź</button>
        <!-- <p><strong>Zawartość odpowiedzi:</strong> {{ answer.answerContent }}</p> -->
        <div *ngIf="!isAnswerContentVisible" class="answer-content">
          {{ answer.answerContent }}
        </div><br>
        <!-- <p *ngIf="!isAnswerContentVisible"><strong>Utworzono:</strong> {{ answer.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
        <p *ngIf="!isAnswerContentVisible"><strong>Ostatnia modyfikacja:</strong> {{ answer.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</p> -->
        <!-- <p *ngIf="!isAnswerContentVisible"><strong>Dni do deadline'u:</strong> {{ calculateDaysUntilDeadline() }} dni</p> -->
        <!-- <p>
          Pozostało: {{ calculateDaysUntilDeadline().days }} dni, {{ calculateDaysUntilDeadline().hours }} godzin, {{ calculateDaysUntilDeadline().minutes }} minut
        </p> -->
       
        <div [ngClass]="{'green-background': calculateTimeDifference().beforeDeadline, 'red-background': !calculateTimeDifference().beforeDeadline}">
          <p *ngIf="!isAnswerContentVisible"><strong>Utworzono:</strong> {{ answer.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
        <p *ngIf="!isAnswerContentVisible"><strong>Ostatnia modyfikacja:</strong> {{ answer.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
        <strong>
          {{ calculateTimeDifference().beforeDeadline ? 'Zadanie zostało przesłane ' : 'Zadanie zostało przesłane ' }}
          {{ calculateTimeDifference().days }} dni, {{ calculateTimeDifference().hours }} godzin i {{ calculateTimeDifference().minutes }} minut
          {{ calculateTimeDifference().beforeDeadline ? 'przed terminem.' : 'po terminie.' }}
        </strong>
        </div><br>

        <p *ngIf="!isAnswerContentVisible"><strong>Status odpowiedzi:</strong> {{ answer.answerStatus }}</p>
        <p *ngIf="!isAnswerContentVisible"><strong>Ocena:</strong> {{ gradedValue  }}</p>
        <!-- <p *ngIf="!isAnswerContentVisible"><strong>Komentarz:</strong> {{ answer.comment  }}</p> -->
        <div>
          <p *ngIf="!isAnswerContentVisible"><strong>Komentarz:</strong></p>
          <textarea *ngIf="!isAnswerContentVisible" [(ngModel)]="answer.comment" style="width: 625px; height: 60px; margin-top: -10px; border-radius: 5x;"></textarea>
        </div>
        
        

      
          
        
        <div *ngIf="isAnswerContentVisible">
            <!-- Dodaj pole do edycji treści odpowiedzi -->
            <textarea class="textarea" id="answerContent" name="answerContent" [(ngModel)]="answer.answerContent"></textarea><br>
            <p *ngIf="isAnswerContentVisible"><strong>Status odpowiedzi:</strong> {{ answer.answerStatus }}</p>
            <p *ngIf="isAnswerContentVisible"><strong>Utworzono:</strong> {{ answer.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
            <p *ngIf="isAnswerContentVisible"><strong>Ostatnia modyfikacja:</strong> {{ answer.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
            <button class="saveButton" (click)="onUpdateAnswer()">Zapisz zmiany</button>
            <button class="deleteButton" (click)="closeEdit()">Anuluj</button>
            
        <!-- Formularz do dodawania plików -->
        <form (submit)="onAddAFile(answer)" enctype="multipart/form-data">
            <div class="filesadd">
              <label for="file">Wybierz plik:</label>
              <input type="file" name="file" id="file" accept=".pdf, .doc, .docx, .jpg, .png" (change)="onAFileSelected($event)">
              <!-- Akceptowane rozszerzenia plików -->
            <button type="submit">Prześlij plik</button>
            </div>
        </form>
            </div>

            
            <!-- <div *ngFor="let aFile of aFilesByAnswer" (click)="loadAFilesByAnswerId(answer.id)">
                <a (click)="downloadFileById(aFile.id)" href="javascript:void(0);">{{ aFile.name }}</a>
                <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteAFile(aFile)"></i>
            </div> -->

            <ul>
            <strong style="margin-top: 10px;">Załączniki:</strong>
              
              <li *ngFor="let aFile of aFilesByAnswer">
                <a (click)="downloadFileByIdAFile(aFile.id)" href="javascript:void(0);">{{ aFile.name }}</a>
                <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteAFile(aFile)"></i>
              </li>
            </ul>

      </div>
    
      <div *ngIf="!answer">
        <p>Brak dostępnej odpowiedzi.</p>
        <button class="addNaswer-button" (click)="onEditAnswer(answer)">Dodaj odpowiedź</button>
        <div *ngIf="isAnswerContentVisible">
            <!-- <label for="answerContent">Treść odpowiedzi:</label> -->
            <textarea class="textarea" id="answerContent" name="answerContent" [(ngModel)]="newAnswerContent"></textarea>
            <button class="addNaswer-button" (click)="onSaveAnswer()">Zapisz odpowiedź</button>
            <button class="cancel-button" (click)="closeEdit()">Anuluj</button>
          </div>
      </div>
    </div><br>
      
    <!-- <div *ngIf="userRole === 'teacher'"> 
      <h2>Uczniowe w grupie zajęciowej:</h2>
    
      <div *ngFor="let user of usersByClassGroup">
        <div class="studentsInGroup" (click)="openAnswerDetailsDialog(user, homeworkTest)" style="cursor: pointer">
          {{ user.firstName }} {{ user.lastName }}
        </div><br>
      </div>
    </div> -->

    <div *ngIf="userRole === 'teacher'">
      <h2>Uczniowie w grupie zajęciowej:</h2>
    
      <table mat-table [dataSource]="usersByClassGroup" class="mat-elevation-z8">
    
        <!-- Nazwa kolumny -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef> Imię i nazwisko </th>
          <td mat-cell *matCellDef="let user">{{ user.firstName }} {{ user.lastName }}</td>
        </ng-container>
    
        <!-- Dodaj kolumnę z przyciskiem do otwierania dialogu -->
        <ng-container matColumnDef="detailsButton">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
              <mat-icon style="cursor: pointer;" (click)="openAnswerDetailsDialog(user, homeworkTest)">info</mat-icon>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="['fullName', 'detailsButton']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['fullName', 'detailsButton'];"></tr>
      </table>
    </div>
    
    

    <!-- <div *ngIf="userRole === 'teacher'"> 
        <h2>Odpowiedzi:</h2>
            <div *ngIf="answersByHomeworkTest">
              <ng-container *ngFor="let answer of answersByHomeworkTest">
                <ng-container *ngIf="answer.answerStatus === 'NIEOCENIONE'">
                  <div class="colored-text blue-text">
                    <a (click)="openAnswerDetailsDialog(answer)">{{ answer.user.firstName }} {{ answer.user.lastName }} {{ ' ' }}</a>
                    <span class="blue-text">{{ answer.answerStatus }}</span>
                  </div>
                </ng-container>
              </ng-container>
              
              <ng-container *ngFor="let answer of answersByHomeworkTest">
                <ng-container *ngIf="answer.answerStatus === 'ZALICZONE'">
                  <div class="colored-text green-text">
                    <a (click)="openAnswerDetailsDialog(answer)">{{ answer.user.firstName }} {{ answer.user.lastName }} {{ ' ' }}</a>
                    <span class="green-text">{{ answer.answerStatus }}</span>
                  </div>
                </ng-container>
              </ng-container>
              
              <ng-container *ngFor="let answer of answersByHomeworkTest">
                <ng-container *ngIf="answer.answerStatus === 'NIEZALICZONE'">
                  <div class="colored-text red-text">
                    <a (click)="openAnswerDetailsDialog(answer)">{{ answer.user.firstName }} {{ answer.user.lastName }} {{ ' ' }}</a>
                    <span class="red-text">{{ answer.answerStatus }}</span>
                  </div>
                </ng-container>
              </ng-container>
            </div>
    </div> -->

    </div>
  </div>
    
  <footer class="footer">
      <p>&copy; 2023 EduSolution. Wszelkie prawa zastrzeżone.</p>
      <p>Kontakt: kontakt@example.com</p>
  </footer>
  