<h1>Dodaj nową lekcję</h1>

<div class="container">
<form [formGroup]="lessonForm">
  <div>
    <label for="name">Nazwa:</label>
    <input id="name" formControlName="name"/>
  </div>

  <div>
    <label for="dayName">Dzień:</label>
    <input id="dayName" formControlName="dayName"/>
  </div>

  <div>
    <label for="startLessonTime">Godzina rozpoczęcia:</label>
    <input id="startLessonTime" formControlName="startLessonTime" />
  </div>

  <div>
    <label for="endLessonTime">Godzina zakończenia:</label>
    <input id="endLessonTime" formControlName="endLessonTime" />
  </div>

  <div>
    <label for="dates">Daty:</label>
    <input id="dates" formControlName="dates" (change)="updateDates($event)" />
  </div>
  
  
  <div>
    <label for="classGroup">Grupa lekcyjna:</label>
    <select id="classGroup" formControlName="classGroupId">
      <option *ngFor="let classGroup of classGroups" [value]="+classGroup.id">{{ classGroup.name }}</option>
    </select>
  </div>
  

  <button class="add-button" mat-button (click)="onCreateClick()">Dodaj lekcję</button>
  <button class="cancel-button" mat-button (click)="onNoClick()">Anuluj</button>
</form>
</div>
