<div>
    <h2>Uczniowie w grupie zajęciowej:</h2>

    <td>
      <div class="form-group">
        <mat-form-field appearance="fill" class="input-container">
          <mat-label>Wybierz grupy</mat-label>
          <mat-select [(ngModel)]="usersByClassGroup" name="classGroups" multiple [compareWith]="compareFn">
              <mat-option *ngFor="let group of allUsers" [value]="group">
                {{ group.firstName }} {{ group.lastName }}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </td>

    <button (click)="onSubmit()">Dodaj</button>
  
    <table mat-table [dataSource]="usersByClassGroup" class="mat-elevation-z8">
  
      <!-- Nazwa kolumny -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Imię i nazwisko </th>
        <td mat-cell *matCellDef="let user">{{ user.firstName }} {{ user.lastName }}</td>
      </ng-container>
  
      <!-- Dodaj kolumnę z przyciskiem do otwierania dialogu -->
      <ng-container matColumnDef="detailsButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['fullName', 'detailsButton']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['fullName', 'detailsButton'];"></tr>
    </table>
  </div>