.mat-elevation-z8{
    margin-left: 10px;
}

/* .form-group{
    margin-left: 10px;
} */

.input-container{
    margin-left: 10px;
}

.h2{
    margin-left: 10px;
}

.saveButton{
    margin-left: 10px;
}



