
<body>
    <!-- <button (click)="togglePanel()">{{ panelVisible ? 'Schowaj' : 'Rozwiń' }}</button> -->
  
    <div class="admin-panel" [ngStyle]="panelStyles">    
     
        <h2>Panel administratora</h2> 
          <a routerLink="/main-page" style="color: aliceblue;">Strona główna</a><br><br> 
          <a routerLink="/semester-list" style="color: aliceblue;">Semestry</a><br><br>
          <a routerLink="/course-inline-editing" style="color: aliceblue;">Kursy</a><br><br>
          <a routerLink="/classGroup-inline-crud" style="color: aliceblue;">Grupy zajęciowe</a><br><br>
          <a routerLink="/user-inline-crud" style="color: aliceblue;">Użytkownicy</a><br>
      <main >
      </main>
    </div>
  </body>
  