<!-- <mat-grid-list cols="3" rowHeight="1:1" class="custom-grid-list">
    <mat-grid-tile *ngFor="let course of courseArray" class="custom-grid-tile">
      <a href="">
        <img src="assets/images/ksiazka2.jpg" [alt]="course.name" class="course-image"/> 
         <p></p><a [routerLink]="['/classGroupsInCourse', course.id]" style="color: rgb(8, 8, 8);">{{ course.name }} {{ course.difficultyLevel }}</a>
      </a>
    </mat-grid-tile>
  </mat-grid-list> -->
  
  <h1>Oferta</h1>

  <mat-button-toggle-group class="custom-button-group" name="courseStatus" [(ngModel)]="selectedCourseName" style="margin-left: 7px;">
    <mat-button-toggle (click)="filterClassGroupsByStatus('Wszystkie')" value="Wszystkie">Wszystkie</mat-button-toggle>
    <mat-button-toggle *ngFor="let courseName of uniqueCourseNames" (click)="filterClassGroupsByStatus(courseName)" [value]="courseName">{{ courseName }}</mat-button-toggle>
  </mat-button-toggle-group><br><br>
  

  <!-- <mat-grid-list cols="3" rowHeight="1:1" class="custom-grid-list">
    <mat-grid-tile *ngFor="let course of filteredCourses" class="custom-grid-tile" [hidden]="selectedCourseName && course.name !== selectedCourseName">
      <div class="tile-container">
        <a [routerLink]="['/classGroupsInCourse', course.id]" class="no-underline">
          <img src="assets/images/no-image.jpg" [alt]="course.name" class="course-image"/>
          <p style="display: flex; align-items: center; margin-left: 23px;">
            <a [routerLink]="['/classGroupsInCourse', course.id]" class="no-underline" style="color: rgb(8, 8, 8); font-size: 16px; text-decoration: none; ">
              {{ course.name }} {{ course.difficultyLevel }}
            </a>
          </p>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list> -->

  <!-- <mat-grid-list cols="3" rowHeight="1:1" class="custom-grid-list">
    <mat-grid-tile *ngFor="let course of filteredCourses" class="custom-grid-tile" [hidden]="selectedCourseName && course.name !== selectedCourseName">
      <div class="tile-container">
        <a [routerLink]="['/classGroupsInCourse', course.id]" class="no-underline">
          <img [src]="getImageSource(course.image)" [alt]="course.name" class="course-image"/>
          <p style="display: flex; align-items: center; margin-left: 23px;">
            <a [routerLink]="['/classGroupsInCourse', course.id]" class="no-underline" style="color: rgb(8, 8, 8); font-size: 16px; text-decoration: none; ">
              {{ course.name }} {{ course.difficultyLevel }}
            </a>
          </p>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list> -->

  <mat-grid-list cols="3" rowHeight="1:1" class="custom-grid-list">
    <mat-grid-tile *ngFor="let course of filteredCourses" class="custom-grid-tile" [hidden]="selectedCourseName && course.name !== selectedCourseName">
      <div class="tile-container">
        <a [routerLink]="['/classGroupsInCourse', course.id]" class="no-underline">
          <img *ngIf="course.image" [src]="getImageSource(course.image)" [alt]="course.name" class="course-image"/>
          <img *ngIf="!course.image" src="assets/images/no-image.jpg" [alt]="course.name" class="course-image"/>
          <p style="display: flex; align-items: center; margin-left: 23px;">
            <a [routerLink]="['/classGroupsInCourse', course.id]" class="no-underline" style="color: rgb(8, 8, 8); font-size: 16px; text-decoration: none; ">
              {{ course.name }} {{ course.difficultyLevel }}
            </a>
          </p>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  

  <footer class="footer">
    <div class="container">
      <p>&copy; 2023 EduSolution. Wszelkie prawa zastrzeżone.</p>
      <p>Kontakt: eduSolution@gmail.com</p>
    </div>
  </footer>
  