<div class="row">
   <h2>Lista semestrów</h2>
</div>
<div class="row">
    <div class="col-8">
        <button class="btn btn-sm btn-primary" (click)="onAdd()">Dodaj nowy</button>
        <div class="col-6">
            <input type="text" [(ngModel)]="searchText" placeholder="Szukaj" class="form-control custom-search-input">
        </div><br>
        <table class="table table-bordered ">
            <thead>
                <tr class="bg-success text-white">
                    <th>Lp</th>
                    <th >Nazwa</th>
                    <th>Data rozpoczęcia</th>
                    <th>Data zakończenia</th> 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courseArray | search: searchText;let srNo = index">
                    <td>{{srNo+1}}</td>
                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.name" [ngClass]="{'is-invalid': validateCourseName(course.name) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.name">
                                    {{validateCourseName(course.name)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.name}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.startDate" [ngClass]="{'is-invalid': validateCourseName(course.startDate) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.startDate">
                                    {{validateCourseName(course.startDate)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.startDate}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.endDate" [ngClass]="{'is-invalid': validateCourseName(course.endDate) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.endDate">
                                    {{validateCourseName(course.endDate)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.endDate}}
                        </div>
                     
                    </td>
                    

                    <td class="text-center"> 
                        <div class="text-end" *ngIf="!course.isEdit">
                            <i class="fa fa-pencil-square-o px-1" aria-hidden="true" (click)="onEdit(course)"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" (click)="onDelete(course)"></i>
                        </div>
                        <div class="text-end" *ngIf="course.isEdit">
                            <i class="fa fa-cloud px-1" (click)="onUpdate(course)" aria-hidden="true"></i>
                            <i class="fa fa-times-circle" aria-hidden="true" (click)="onCancel(course)"></i>
                        </div>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>