<div class="card">
    <p-table [value]="semesters" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" class="name">
            <tr style="text-align: left;">
                <th>Nazwa</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-semester>
            <tr>
                <td>{{ semester.name }}</td>
                
                <td class="button-cell">
                    <button mat-raised-button color="secondary" (click)="remove(semester.id)"
                            *ngIf="semester.href" type="button">Usuń</button>
                    <button mat-button color="warn" (click)="remove(semester.id)">Usuń</button>
                </td>
                
            </tr>
           
        </ng-template>
        
    </p-table>
</div>