<!-- <div class="card">
    <p-table [value]="semesters" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" class="name">
            <tr style="text-align: left;">
                <th>Nazwa</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-semester>
            <tr>
                <td>{{ semester.name }}</td>
                
                <td class="button-cell">
                    <button mat-raised-button color="secondary" (click)="remove(semester.id)"
                            *ngIf="semester.href" type="button">Usuń</button>
                    <button mat-button color="warn" (click)="remove(semester.id)">Usuń</button>
                </td>
                
            </tr>
           
        </ng-template>
        
    </p-table>
</div> -->


<div class="row">
    <div class="col-6">

    </div>
    <div class="col-2 text-end"> 
        <!-- <input type="text" [(ngModel)]="searchText" placeholder="Search" (ngModelChange)="filter($event)" class="form-control"> -->
    </div>
    
</div>
<div class="row">
    <div class="col-8">
        <button class="btn btn-sm btn-primary" (click)="onAdd()">Add New</button>
        <table class="table table-bordered ">
            <thead>
                <tr class="bg-success text-white">
                    <th>Lp</th>
                    <th (click)="onNameSort()">Nazwa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courseArray;let srNo = index">
                    <td>{{srNo+1}}</td>
                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.name" [ngClass]="{'is-invalid': validateCourseName(course.name) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.name">
                                    {{validateCourseName(course.name)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.name}}
                        </div>
                     
                    </td>

                    <td class="text-center"> 
                        <div class="text-end" *ngIf="!course.isEdit">
                            <i class="fa fa-pencil-square-o px-1" aria-hidden="true" (click)="onEdit(course)"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" (click)="onDelete(course)"></i>
                        </div>
                        <div class="text-end" *ngIf="course.isEdit">
                            <i class="fa fa-cloud px-1" (click)="onUpdate(course)" aria-hidden="true"></i>
                            <i class="fa fa-times-circle" aria-hidden="true" (click)="onCancel(course)"></i>
                        </div>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>