<div class="row">
    <div class="col-6">
        <h2>Lista użytkowników</h2>
    </div> 
</div><br>

<div class="row">
    <div class="col-8">
        <button class="btn btn-sm btn-primary" (click)="onAdd()">Dodaj nowego</button>
        <div class="col-7">
            <input type="text" [(ngModel)]="searchText" placeholder="Szukaj" class="form-control custom-search-input">
        </div><br>
        <table class="table table-bordered ">
            <thead>
                <tr class="bg-success text-white">
                    <th>Lp</th>
                    <th (click)="onNameSort()">Imię</th>
                    <th (click)="onNameSort()">Nazwisko</th>
                    <th (click)="onNameSort()">E-mail</th>
                    <th (click)="onNameSort()">Ulica i numer</th>
                    <th (click)="onNameSort()">Miasto</th>
                    <th (click)="onNameSort()">Poczta</th>
                    <th (click)="onNameSort()">Kod pocztowy</th>
                    <th (click)="onNameSort()">Kraj</th>
                    <th (click)="onNameSort()">Rola</th>
                    <th (click)="onNameSort()">Status</th>
                    <th (click)="onNameSort()">Grupy kursowe</th>
                    <!-- <th>Opis</th>  -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userArray | search: searchText;let srNo = index">
                    <td>{{srNo+1}}</td>
                    <td>
                        <div *ngIf="user.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="user.firstName" [ngClass]="{'is-invalid': validateUser(user.firstName) !== ''}">
                                <div class="text-danger error-message" *ngIf="!user.firstName">
                                    {{user.firstName}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!user.isEdit">
                            {{user.firstName}}
                        </div>
                     
                    </td>
                    <td>
                        <div *ngIf="user.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="user.lastName" [ngClass]="{'is-invalid': validateUser(user.lastName) !== ''}">
                                <div class="text-danger error-message" *ngIf="!user.lastName">
                                    {{user.lastName}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!user.isEdit">
                            {{user.lastName}}
                        </div>
                     
                    </td>
                    <td>
                        <div *ngIf="user.isEdit">
                            <input type="text" class="form-control" [(ngModel)]="user.email">
                        </div>
                        <div  *ngIf="!user.isEdit">
                            {{user.email}}
                        </div>
                     
                    </td>
                    <td>
                        <div *ngIf="user.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="user.address" [ngClass]="{'is-invalid': validateUser(user.address) !== ''}">
                                <div class="text-danger error-message" *ngIf="!user.address">
                                    {{user.address}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!user.isEdit">
                            {{user.address}}
                        </div>
                     
                    </td>
                    <td>
                        <div *ngIf="user.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="user.city" [ngClass]="{'is-invalid': validateUser(user.city) !== ''}">
                                <div class="text-danger error-message" *ngIf="!user.city">
                                    {{user.city}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!user.isEdit">
                            {{user.city}}
                        </div>
                     
                    </td>
                    <td>
                        <div *ngIf="user.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="user.post" [ngClass]="{'is-invalid': validateUser(user.post) !== ''}">
                                <div class="text-danger error-message" *ngIf="!user.post">
                                    {{user.post}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!user.isEdit">
                            {{user.post}}
                        </div>
                     
                    </td>
                    <td>
                        <div *ngIf="user.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="user.postCode" [ngClass]="{'is-invalid': validateUser(user.postCode) !== ''}">
                                <div class="text-danger error-message" *ngIf="!user.postCode">
                                    {{user.postCode}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!user.isEdit">
                            {{user.postCode}}
                        </div>
                     
                    </td>
                    <td>
                        <div *ngIf="user.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="user.country" [ngClass]="{'is-invalid': validateUser(user.country) !== ''}">
                                <div class="text-danger error-message" *ngIf="!user.country">
                                    {{user.country}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!user.isEdit">
                            {{user.country}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="user.isEdit">
                            <input type="text" class="form-control" [(ngModel)]="user.role">
                        </div>
                        <div  *ngIf="!user.isEdit">
                            {{user.role}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="user.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="user.userStatus" [ngClass]="{'is-invalid': validateUser(user.userStatus) !== ''}">
                                <div class="text-danger error-message" *ngIf="!user.userStatus">
                                    {{user.userStatus}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!user.isEdit">
                            {{user.userStatus}}
                        </div>
                     
                    </td>

                   <!-- <td>
                    <div *ngIf="user.isEdit" class="form-group">
                        <div class="input-container">
                            <input type="text" class="form-control" [(ngModel)]="editedUserClassGroups"
                                [ngClass]="{'is-invalid': validateUser(editedUserClassGroups) !== ''}">
                            <div class="text-danger error-message" *ngIf="!editedUserClassGroups">
                                {{editedUserClassGroups}}
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="!user.isEdit">
                        <div *ngFor="let group of user.classGroups">
                            {{ group.name }}
                        </div>
                    </div>
                </td> -->

                <td>
                    <div *ngIf="user.isEdit" class="form-group">
                      <mat-form-field appearance="fill" class="input-container">
                        <mat-label>Wybierz grupy</mat-label>
                        <mat-select [(ngModel)]="user.classGroups" name="classGroups" multiple [compareWith]="compareFn">
                            <mat-option *ngFor="let group of allClassGroups" [value]="group">
                              {{ group.name }}
                            </mat-option>
                          </mat-select>
                          
                        
                      </mat-form-field>
                    </div>
                  
                    <div *ngIf="!user.isEdit">
                      <div *ngFor="let group of user.classGroups">
                        {{ group.name }}
                      </div>
                    </div>
                  </td>
                  
                  

                    
                    



                    <td class="text-center"> 
                        <div class="text-end" *ngIf="!user.isEdit">
                            <i class="fa fa-pencil-square-o px-1" aria-hidden="true" (click)="onEdit(user)"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" (click)="onDelete(user)"></i>
                        </div>
                        <div class="text-end" *ngIf="user.isEdit">
                            <i class="fa fa-cloud px-1" (click)="onUpdate(user)" aria-hidden="true"></i>
                            <i class="fa fa-times-circle" aria-hidden="true" (click)="onCancel(user)"></i>
                        </div>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>


 <!-- <footer class="footer">
      <p>&copy; 2023 EduSolution. Wszelkie prawa zastrzeżone.</p>
      <p>Kontakt: kontakt@example.com</p>
  </footer>
   -->