<div class="row">
    <div class="col-6">
        <h2>Lista grup zajęciowych</h2>
    </div>
</div><br>
<div class="row">
    <div class="col-8">
        <button class="btn btn-sm btn-primary" (click)="onAdd()" *ngIf="actionsAdmin()">Dodaj nowe</button>
        <div class="col-7">
            <input type="text" [(ngModel)]="searchText" placeholder="Szukaj" class="form-control custom-search-input">
        </div><br>
        <table class="table table-bordered ">
            <thead>
                <tr class="bg-success text-white">
                    <th style="width: 50px;">Lp</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Limit studentów</th>
                    <th>Rok rozpoczęcia</th> 
                    <th>Adres/Placówka</th>
                    <th>Status</th>
                    <th>Tryb</th>
                    <th>Semestr</th>
                    <th>Kurs</th>
                    <th></th> 
                    <th></th> 
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of classGroupArray | search: searchText; let srNo = index">
                    <td>{{srNo+1}}</td>
                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input style="margin-left: -46px; height: 27px;" type="text" class="form-control" [(ngModel)]="course.name" [ngClass]="{'is-invalid': validateCourseName(course.name) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.name">
                                    {{validateCourseName(course.name)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.name}}
                        </div>
                     
                    </td>

                    <!-- <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input style="margin-left: -16px; height: 30px;" type="text" class="form-control" [(ngModel)]="course.description" [ngClass]="{'is-invalid': validateCourseName(course.description) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.description">
                                    {{course.description}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.description}}
                        </div>
                     
                    </td> -->

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <textarea style="margin-left: -16px; height: 27px;" class="form-control" [(ngModel)]="course.description" [ngClass]="{'is-invalid': validateCourseName(course.description) !== ''}"></textarea>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.description}}
                        </div>
                    </td>
                    


                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container1">
                                <input style="margin-left: -16px; height: 27px; width: 90px;" type="number" class="form-control" [(ngModel)]="course.studentsLimit" [ngClass]="{'is-invalid': !isPositiveNumber(course.studentsLimit)}">
                                <div class="text-danger error-message" *ngIf="!isPositiveNumber(course.studentsLimit)">
                                    Większa od 0
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.studentsLimit}}
                        </div>
                    </td>
                    

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input style="margin-left: -25px; height: 27px; width: 20px" type="text" class="form-control" [(ngModel)]="course.year" [ngClass]="{'is-invalid': validateCourseName(course.year) !== ''}" required>
                                <div class="text-danger error-message" *ngIf="!course.year">
                                    {{validateCourseName(course.year)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.year}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input style="margin-left: -16px; height: 27px;" type="text" class="form-control" [(ngModel)]="course.address" [ngClass]="{'is-invalid': validateCourseName(course.address) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.address">
                                    {{validateCourseName(course.address)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.address}}
                        </div>
                     
                    </td>

                    <!-- <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.classGroupStatus" [ngClass]="{'is-invalid': validateCourseName(course.classGroupStatus) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.classGroupStatus">
                                    {{validateCourseName(course.classGroupStatus)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.classGroupStatus}}
                        </div>
                     
                    </td> -->

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                          <div class="input-container">
                            <select style="height: 40px; width: 110px; margin-right: -120px; margin-left: -16px; border: 2px solid #347fca" class="input-container" [(ngModel)]="course.classGroupStatus" name="classGroupStatus" required>
                              <option class="input-container" *ngFor="let classGroupStatus of availableStatus" [value]="classGroupStatus">
                                {{ classGroupStatus }}
                              </option>
                            </select>
                          </div>
                        </div>
                      
                        <div *ngIf="!course.isEdit">
                          {{ course.classGroupStatus }}
                        </div>
                    </td>

                    <!-- <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.mode" [ngClass]="{'is-invalid': validateCourseName(course.mode) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.mode">
                                    {{validateCourseName(course.mode)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.mode}}
                        </div>
                     
                    </td> -->

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                          <div class="input-container">
                            <select style="height: 40px; width: 110px; margin-right: -120px; margin-left: -6px; border: 2px solid #347fca" class="input-container" [(ngModel)]="course.mode" name="difficultyLevel" required>
                              <option class="input-container" *ngFor="let mode of availableMode" [value]="mode">
                                {{ mode }}
                              </option>
                            </select>
                          </div>
                        </div>
                      
                        <div *ngIf="!course.isEdit">
                          {{ course.mode }}
                        </div>
                    </td>

                    <!-- <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.semester.name" [ngClass]="{'is-invalid': validateCourseName(course.semester.name) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.semester.name">
                                    {{validateCourseName(course.name)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.semester.name}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.course.name" [ngClass]="{'is-invalid': validateCourseName(course.course.name) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.course.name">
                                    {{validateCourseName(course.course.name)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.course.name}} {{course.course.difficultyLevel}}
                        </div>
                     
                    </td> -->

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                          <div class="input-container">
                            <mat-select style="width: 140px;" [ngModel]="course.semester" (ngModelChange)="course.semester = $event" [ngClass]="{'is-invalid': !course.semester}">
                                <mat-option *ngFor="let semester of semesters" [value]="semester">{{semester.name}}</mat-option>
                              </mat-select>
                              <!-- <select style="height: 43px; width: 110px; margin-left: -7px; border: 2px solid #347fca" [(ngModel)]="course.semester" class="form-control" name="semester" [ngClass]="{'is-invalid': !course.semesterId}">
                                <option *ngFor="let semester of semesters" [value]="semester.name">
                                  {{ semester.name }}
                                </option>
                              </select> -->
                              
                           
                            <div class="text-danger error-message" *ngIf="!course.semester?.name">
                              {{course.semester?.name}}
                            </div>
                          </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                          {{course.semester?.name}}
                        </div>
                      </td>
                      
                      <td>
                        <div *ngIf="course.isEdit" class="form-group">
                          <div class="input-container-course">
                            <!-- <mat-select [ngModel]="course.course" (ngModelChange)="course.course = $event" [ngClass]="{'is-invalid': !course.course}">
                                <mat-option *ngFor="let availableCourse of availableCourses" [value]="availableCourse">{{availableCourse.name}}</mat-option>
                              </mat-select>                               -->
                              <select style="height: 40px; width: 110px; margin-right: -120px; margin-left: -15px; border: 2px solid #347fca" [(ngModel)]="course.course" class="form-control" name="course" [ngClass]="{'is-invalid': !course.courseId}">
                                <option *ngFor="let availableCourse of availableCourses" [value]="availableCourse.id">
                                  {{ availableCourse.name }}
                                </option>
                              </select>
                            <div class="text-danger error-message" *ngIf="!course.course?.name">
                              {{ course.course?.name }}
                            </div>
                          </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                          {{ course.course?.name }} {{ course.course?.difficultyLevel }}
                        </div>
                      </td>

                      <td>
                        <button class="participants-button" [routerLink]="['/participants', course.id]">Uczestnicy</button>
                      </td>
                      
                      
  
                      
                      
                      


                    <td class="text-center"> 
                        <div class="text-end" *ngIf="!course.isEdit">
                            <i class="fa fa-pencil-square-o px-1" aria-hidden="true" *ngIf="actionsAdmin()" (click)="onEdit(course)"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" (click)="onDelete(course)" *ngIf="actionsAdmin()"></i>
                        </div>
                        <div class="text-end" *ngIf="course.isEdit">
                            <i class="fa fa-cloud px-1" (click)="onUpdate(course)" aria-hidden="true"></i>
                            <i class="fa fa-times-circle" aria-hidden="true" (click)="onCancel(course)"></i>
                        </div>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>