<div class="row">
    <div class="col-6">
        <h2>Lista grup zajęciowych</h2>
    </div>
</div><br>
<div class="row">
    <div class="col-8">
        <button class="btn btn-sm btn-primary" (click)="onAdd()">Dodaj nowe</button>
        <div class="col-7">
            <input type="text" [(ngModel)]="searchText" placeholder="Szukaj" class="form-control custom-search-input">
        </div><br>
        <table class="table table-bordered ">
            <thead>
                <tr class="bg-success text-white">
                    <th>Lp</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Limit studentów</th>
                    <th>Rok</th>
                    <th>Adres</th>
                    <th>Status</th>
                    <th>Tryb</th>
                    <th>Semestr</th>
                    <th>Kurs</th>
                    <th></th> 
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of classGroupArray | search: searchText; let srNo = index">
                    <td>{{srNo+1}}</td>
                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.name" [ngClass]="{'is-invalid': validateCourseName(course.name) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.name">
                                    {{validateCourseName(course.name)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.name}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.description" [ngClass]="{'is-invalid': validateCourseName(course.description) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.description">
                                    {{course.description}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.description}}
                        </div>
                     
                    </td>


                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.studentsLimit" [ngClass]="{'is-invalid': validateCourseName(course.studentsLimit) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.studentsLimit">
                                    {{validateCourseName(course.studentsLimit)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.studentsLimit}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.year" [ngClass]="{'is-invalid': validateCourseName(course.year) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.year">
                                    {{validateCourseName(course.year)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.year}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.address" [ngClass]="{'is-invalid': validateCourseName(course.address) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.address">
                                    {{validateCourseName(course.address)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.address}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.classGroupStatus" [ngClass]="{'is-invalid': validateCourseName(course.classGroupStatus) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.classGroupStatus">
                                    {{validateCourseName(course.classGroupStatus)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.classGroupStatus}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.mode" [ngClass]="{'is-invalid': validateCourseName(course.mode) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.mode">
                                    {{validateCourseName(course.mode)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.mode}}
                        </div>
                     
                    </td>

                    <!-- <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.semester.name" [ngClass]="{'is-invalid': validateCourseName(course.semester.name) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.semester.name">
                                    {{validateCourseName(course.name)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.semester.name}}
                        </div>
                     
                    </td>

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                            <div class="input-container">
                                <input type="text" class="form-control" [(ngModel)]="course.course.name" [ngClass]="{'is-invalid': validateCourseName(course.course.name) !== ''}">
                                <div class="text-danger error-message" *ngIf="!course.course.name">
                                    {{validateCourseName(course.course.name)}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                            {{course.course.name}} {{course.course.difficultyLevel}}
                        </div>
                     
                    </td> -->

                    <td>
                        <div *ngIf="course.isEdit" class="form-group">
                          <div class="input-container">
                            <select [(ngModel)]="course.semester" class="form-control" name="semester" [ngClass]="{'is-invalid': !course.semester}">
                              <option *ngFor="let semester of semesters" [value]="semester">
                                {{ semester.name }}
                              </option>
                            </select>
                            <div class="text-danger error-message" *ngIf="!course.semester?.name">
                              {{ course.semester?.name }}
                            </div>
                          </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                          {{ course.semester?.name }}
                        </div>
                      </td>
                      
                      
                      
                      <td>
                        <div *ngIf="course.isEdit" class="form-group">
                          <div class="input-container">
                            <select [(ngModel)]="course.course" class="form-control" name="course" [ngClass]="{'is-invalid': !course.course}">
                              <option *ngFor="let availableCourse of availableCourses" [value]="availableCourse">
                                {{ availableCourse.name }}
                              </option>
                            </select>
                            <div class="text-danger error-message" *ngIf="!course.course?.name">
                              {{ course.course?.name }}
                            </div>
                          </div>
                        </div>
                        
                        <div *ngIf="!course.isEdit">
                          {{ course.course?.name }} {{ course.course?.difficultyLevel }}
                        </div>
                      </td>
                      
                      
                      


                    <td class="text-center"> 
                        <div class="text-end" *ngIf="!course.isEdit">
                            <i class="fa fa-pencil-square-o px-1" aria-hidden="true" (click)="onEdit(course)"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" (click)="onDelete(course)"></i>
                        </div>
                        <div class="text-end" *ngIf="course.isEdit">
                            <i class="fa fa-cloud px-1" (click)="onUpdate(course)" aria-hidden="true"></i>
                            <i class="fa fa-times-circle" aria-hidden="true" (click)="onCancel(course)"></i>
                        </div>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>