<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 1" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 2" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 3" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 4" />
      </a>
    </mat-grid-tile>
    
  </mat-grid-list> -->


  

 
<body>

    <header>
        <h1>Witaj na mojej stronie!</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">O mnie</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>Artykuł 1</h2>
            <p>To jest zawartość artykułu 1.</p>
        </section>

        <section>
            <h2>Artykuł 2</h2>
            <p>To jest zawartość artykułu 2.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Moja Strona</p>
    </footer>

</body>
