<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 1" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 2" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 3" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 4" />
      </a>
    </mat-grid-tile>
    
  </mat-grid-list> -->


  

 
<body>

    <header>
        <h1>Witaj w EduSolution!</h1>
    </header>

    <main>
        <section>
            <h2>Artykuł 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt molestie nunc eget gravida. Quisque vel felis dictum, dapibus ipsum ornare, gravida massa. Nulla varius dolor eu neque dictum varius. Vivamus at orci pharetra nulla porta convallis. Nulla sed neque gravida, suscipit mi id, mattis est. Pellentesque quis ipsum lobortis, auctor purus placerat, tempus nisl. Donec et nisl nec purus sagittis pellentesque. </p>
        </section>

        <section>
            <h2>Artykuł 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt molestie nunc eget gravida. Quisque vel felis dictum, dapibus ipsum ornare, gravida massa. Nulla varius dolor eu neque dictum varius. Vivamus at orci pharetra nulla porta convallis. Nulla sed neque gravida, suscipit mi id, mattis est. Pellentesque quis ipsum lobortis, auctor purus placerat, tempus nisl. Donec et nisl nec purus sagittis pellentesque. </p>
        </section>
    </main>

    <footer>
      <p>&copy; 2024 EduSolution. Wszelkie prawa zastrzeżone.</p>
      <p>Kontakt: eduSolution@gmail.com</p>
    </footer>

</body>
