<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 1" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 2" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 3" />
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="book-list">
        <img src="assets/images/ksiazka2.jpg" alt="Zdjęcie 4" />
      </a>
    </mat-grid-tile>
    
  </mat-grid-list>

  hsjahsja
  