i {
    color: #0747a6;
    font-size: 20px;
}
.form-control {
    border: 2px solid #347fca !important;
    text-align: left;
}

/* Style for the search input */
.input-container {
    text-align: left;
}

/* Style for the table */
.table {
    width: 1400px;
    border-collapse: collapse;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: auto;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    border-radius: 5px; /* Dodaj zaokrąglone rogi */
    overflow: hidden; 
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
}

/* Style for the table header row */
.table thead tr {
    background-color: #505351; /* Green background color */
    color: #fff; /* White text color */
}

/* Style for alternating rows */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background color */
}

/* Style for icons in the Action column */
.table .fa {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

/* Style for the edit and delete icons */
.table .fa-pencil-square-o {
    color: #007bff; /* Blue color */
}

.table .fa-trash-o {
    color: #dc3545; /* Red color */
}

/* Style for the cloud and times-circle icons */
.table .fa-cloud {
    color: #28a745; /* Green color */
}

.table .fa-times-circle {
    color: #6c757d; /* Gray color */
}

/* Style for input fields within table cells */
.table input.form-control {
    width: 100%;
    padding: 5px;
}



/* Align the search input to the right */
.text-end {
    text-align: right;
}



.table th:last-child,
.table td:last-child {
    text-align: right;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.form-control {
    flex: 1;
    padding: 5px;
}

/* Stylowanie komórki "Nazwa" w trybie edycji */
.table td .form-group {
    text-align: left; /* Tekst "Nazwa" jest teraz wyśrodkowany w lewo */
}

/* Stylowanie tekstu "Nazwa" w trybie odczytu */
.table td div:not(.form-group) {
    text-align: left; /* Tekst "Nazwa" jest teraz wyśrodkowany w lewo */
}





.footer {
    background-color: #333; /* Kolor tła stopki */
    color: #fff; /* Kolor tekstu w stopce */
    padding: 20px; /* Wewnętrzny odstęp w stopce */
    text-align: center; /* Wyrównanie tekstu do środka */
    margin-top: auto;
    height: 40px;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .col-6 {
    display: flex;
    align-items: center;
    background-color: #d5d6d8;
    padding: 10px;
    color: rgb(61, 60, 60);
    /* border-radius: 2px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .col-6 h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }


