.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  
.add-section-button{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 11px;
  background-color: #375aca; /* Kolor tła */
  color: #fff; /* Kolor tekstu */
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.newSectionInput{
  margin-left: 11px;
  margin-bottom: 10px;
  height: 23px;
  border-radius: 5px;
}

/* Styl dla listy materiałów edukacyjnych */
.edu-material-list {
  list-style: none;
  padding: 0;
}

/* Styl dla pojedynczego elementu listy */
.edu-material-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

/* Styl dla linku do materiału edukacyjnego */
.edu-material-link {
  text-decoration: none;
  color: #007bff; /* Kolor linku */
  font-weight: bold;
}

/* Styl ikony kosza */
.delete-icon {
  color: #d9534f; /* Kolor czerwony */
  cursor: pointer;
  font-size: 18px;
}

.trash-icon {
  color: #dc3545; /* Kolor ikony kosza */
  font-size: 18px; /* Rozmiar ikony kosza */
  cursor: pointer;
  margin-right: 10px; /* Odstęp z prawej strony */
  margin-left: 10px;
}

/* Styl dla inputa do nowego materiału */
.new-material-input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

/* Styl dla przycisku "Dodaj materiał" */
.add-material-button {
  background-color: #375aca; /* Kolor zielony */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Styl dla sekcji, które nie są w trybie edycji */
.section-name {
  /* font-weight: bold; */
  margin-right: 10px; /* Odstęp z prawej strony */
  font-size: 18px;
  color: #753232;
  margin-left: -7px;
}

/* Styl przycisku "Edytuj" */
.edit-button {
  background-color: #dbdbd9; /* Kolor przycisku edycji */
  color: #212529; /* Kolor tekstu na przycisku */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button{
  background-color: #d46868; /* Kolor przycisku edycji */
  color: #212529; /* Kolor tekstu na przycisku */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}


/* Stylizacja bloczków */
.panelfiles {
  background-color: #d1d1d1; /* Kolor tła bloczka */
  border-radius: 5px; /* Zaokrąglenie rogów bloczka */
  margin-bottom: 10px; /* Odstęp między bloczkami */
  overflow: hidden; /* Ukryj zawartość, która wychodzi poza bloczek */
  width: 300px;
  height: 70px;
  border: #212529;
}

.panelfiles ul {
  list-style: none; /* Usunięcie domyślnych punktów na liście */
  padding: 0; /* Usunięcie wewnętrznego odstępu dla listy */
}

.panelfiles li {
  background-color: #d1d1d1; /* Kolor tła pojedynczego bloczka */
  padding-left: 10px;
  padding-bottom: 100px;
  padding-top: -100px;
  display: flex; /* Ustawienie elementów li na poziomie */
  justify-content: space-between; /* Rozłożenie elementów li na całej szerokości bloczka */
  border-color: #753232;
  border: #212529;
}

/* Stylizacja linku i ikony kosza */
.panelfiles a {
  text-decoration: none; /* Usunięcie podkreślenia odnośnika */
  color: #333; /* Kolor tekstu linku */
  /* font-weight: bold;  */
}

/* Styl ikony kosza */
.panelfiles .fa-trash-o {
  color: #dc3545; /* Kolor ikony kosza */
  font-size: 18px; /* Rozmiar ikony kosza */
  cursor: pointer;
  margin-right: 10px;
}

.expansion-panel-container {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
}

mat-expansion-panel {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0;
}

mat-expansion-panel-header {
  color: white; 
}

mat-panel-title {
  padding: 10px;
  font-weight: bold;
}


.col-6 {
  display: flex;
  align-items: center;
  background-color: #f0f1f3;
  padding: 10px;
  color: rgb(61, 60, 60);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.col-6 h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.footer {
  background-color: #333; /* Kolor tła stopki */
  color: #fff; /* Kolor tekstu w stopce */
  padding: 20px; /* Wewnętrzny odstęp w stopce */
  text-align: center; /* Wyrównanie tekstu do środka */
}

.onSaveNew{
  background-color: #375aca; /* Kolor przycisku edycji */
  color: #fff; /* Kolor tekstu na przycisku */
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.onCancelNew{
  background-color: #dbdbd9; /* Kolor przycisku edycji */
  color: #212529; /* Kolor tekstu na przycisku */
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.editEduMaterial{
  margin-left: -10px;
  margin-right: 5px;
  margin-bottom: 10px;
  height: 23px;
  border-radius: 5px;
}

.onEditEduMaterial{
  background-color: #375aca; /* Kolor przycisku edycji */
  color: #fff; /* Kolor tekstu na przycisku */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
}

.onCancelEditEduMaterial{
  background-color: #dbdbd9; /* Kolor przycisku edycji */
  color: #212529; /* Kolor tekstu na przycisku */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
}

.datetime-local{
  margin-right: 10px;
  height: 24px;
  border-radius: 5px;
}