<!-- <button (click)="onAddSection()">Dodaj nowy panel</button>

<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let panel of panels">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ panel.sectionName }}
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header *ngFor="let section of sectionArray; let srNo = index">
      <mat-panel-title>
        <div *ngIf="isAddingNewSection==true && srNo === panels.length - 1">
          <input type="text" [(ngModel)]="newSectionName" placeholder="Nowa nazwa sekcji"> 
        </div>
        <div *ngIf="!newSectionName">
          <input type="text" [(ngModel)]="section.name" placeholder="">        
        </div>
        <button *ngIf="!section.isEdit" (click)="onEdit(section)">Edytuj</button>
        <button *ngIf="section.isEdit" (click)="onSave(section, section.name)">Zapisz</button>
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion> -->




   <!-- <button (click)="onAddSection()">Dodaj nowy panel</button>

   <mat-accordion>
     <mat-expansion-panel *ngFor="let section of sectionArray; let srNo = index">
      
       <mat-expansion-panel-header>
         <mat-panel-title>
           <input type="text" [(ngModel)]="isAddingNewSection == false ? section.name : newSectionName" [disabled]="!section.isEdit" placeholder="">
           <button *ngIf="!section.isEdit" (click)="onEdit(section)">Edytuj</button>
           <button *ngIf="section.isEdit" (click)="onSave(section)">Zapisz</button>
         </mat-panel-title>
       </mat-expansion-panel-header>
       <p *ngIf="!section.isEdit"> {{ section.name }}</p>
     </mat-expansion-panel>
   </mat-accordion> -->

   <button  class="add-section-button" (click)="onAddSection()">Dodaj nowy panel</button><br>
   <input class="newSectionInput" *ngIf="isAddingNewSection" type="text" [(ngModel)]="newSectionName" placeholder="Nowa nazwa sekcji">
   <button class="onSaveNew" *ngIf="isAddingNewSection" (click)="onSaveNew()">Zapisz</button>
   <button class="onSaveNew" *ngIf="isAddingNewSection" (click)="onCloseButton()">Wyjdź</button>
   <div class="expansion-panel-container">
   <mat-accordion>
    <mat-expansion-panel class="expansionPanel" *ngFor="let section of sectionsByCourse; let srNo = index" (click)="loadEduMaterialsBySectionId(section.id)">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="matPanelTitle">
          <input
            *ngIf="section.isEdit || section.isNewSection" 
            type="text"
            [(ngModel)]="section.name"
            [disabled]="!section.isEdit"
            placeholder=""
          >
          <span class="section-name" *ngIf="!section.isEdit && !section.isNewSection">{{ section.name }}</span>
          <button *ngIf="!section.isEdit" class="edit-button" (click)="onEdit(section)">Edytuj</button>
          <button *ngIf="section.isEdit" (click)="onSave(section)">Zapisz zmiany</button>
          <button *ngIf="section.isEdit" (click)="onBackButton(section)">Wyjdź z edycji</button>
          <i class="fa fa-trash-o trash-icon" aria-hidden="true" (click)="onDelete(section)"></i>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p *ngIf="!section.isEdit">This is the content of section {{ srNo + 1 }}</p>
      <!-- <button *ngIf="section.isEdit" (click)="onAddMaterial(section)">Dodaj materiał</button> -->

      
      <ng-container>
        <h2>Materiały zajęciowe</h2>
        <!-- <div *ngFor="let eduMaterial  of eduMaterialsBySection">
          <a [routerLink]="['/eduMaterial-manage', eduMaterial.id]">{{ eduMaterial.name }}</a>
          <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteEduMaterial(eduMaterial)"></i>
        </div> -->
        <div *ngFor="let eduMaterial of eduMaterialsBySection" class="panelfiles">
            <ul>
              <li >
                <a [routerLink]="['/eduMaterial-manage', eduMaterial.id]">{{ eduMaterial.name }}</a>
                <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteEduMaterial(eduMaterial)"></i>
              </li>
            </ul>
        </div>
        <!-- <ul class="edu-material-list">
          <li *ngFor="let eduMaterial of eduMaterialsBySection" class="edu-material-item">
            <a [routerLink]="['/eduMaterial-manage', eduMaterial.id]" class="edu-material-link">{{ eduMaterial.name }}</a>
            <i class="fa fa-trash-o delete-icon" aria-hidden="true" (click)="onDeleteEduMaterial(eduMaterial)"></i>
          </li>
        </ul> -->
        <input *ngIf="section.isEdit" class="new-material-input" type="text" [(ngModel)]="newMaterialName" placeholder="Nowy materiał">
        <button  *ngIf="section.isEdit" class="add-material-button" (click)="onAddMaterial(section)">Dodaj materiał</button>
      </ng-container>
      <br>

      <ng-container>
        <h2>Zadania domowe/zaliczenia</h2>
        <div *ngFor="let homeworkTest of homeworkTestsBySection" class="panelfiles">
            <ul>
              <li >
                <a [routerLink]="['/homeworkTest-manage', homeworkTest.id]">{{ homeworkTest.name }}</a>
                <i class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteHomeworkTest(homeworkTest)"></i>
              </li>
            </ul>
        </div>
        <input *ngIf="section.isEdit" class="new-material-input" type="text" [(ngModel)]="newHomeworkTestName" placeholder="Nowy materiał">
        <button  *ngIf="section.isEdit" class="add-material-button" (click)="onAddHomeworkTest(section)">Dodaj materiał</button>
      </ng-container>
      
      
        
    </mat-expansion-panel>
  </mat-accordion>
</div>
  
  <!-- Dodaj pole input tylko wtedy, gdy isAddingNewSection jest true -->
  
 
  



   