

 <!-- <div *ngIf="lessons && lessons.length > 0; else noLessons">
    <h2>Schedule for {{ groupId }}</h2>
    <ul>
      <li *ngFor="let lesson of lessons">
        {{ lesson.startLessonTime }} - {{ lesson.endLessonTime }}: {{ lesson.course.name }} ({{ lesson.classGroup.name }})
      </li>
    </ul>
  </div>
  
  <ng-template #noLessons>
    <p>No lessons found for the selected semester.</p>
  </ng-template>  -->

 
  
  <!-- <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let dayName of getLessonsDayNames()">{{ dayName }}</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td></td>
        <td *ngFor="let dayName of getLessonsDayNames()">
          <div *ngFor="let lesson of getLessonByDayName(dayName)">
            <ng-container *ngIf="lesson.startLessonTime && lesson.endLessonTime">
              {{ lesson.startLessonTime }} {{ lesson.endLessonTime }}
              {{ lesson.course.name }} ({{ lesson.classGroup.name }})
            </ng-container>
          </div>
        </td>
      </tr>
    </tfoot>
  </table> -->
  

<!-- W pliku lessonsSchedule.component.html -->
<!-- <table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let dayName of getLessonsDayNames()">{{ dayName }}</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
      <td *ngFor="let dayName of getLessonsDayNames()">
        <ng-container *ngFor="let lesson of getLessonByDayName(dayName)">
          <div *ngIf="lesson.startLessonTime && lesson.endLessonTime">
            <div *ngIf="isCourseGrouped(lesson.classGroup.id)">
              {{ lesson.startLessonTime }} {{ lesson.endLessonTime }}
            </div>
            <div [style.background-color]="getCourseColor(lesson.classGroup.id)">
              {{ lesson.course.name }} 
              ({{ lesson.classGroup.name }})
            </div>
          </div>
        </ng-container>
      </td>
    </tr>
  </tfoot>
</table> -->

<table>
  <thead>
    <tr>
      <th [attr.colspan]="getLessonsDayNames().length + 1">Plan lekcji dla {{ getSemesterName() }}</th>
    </tr>
    <tr>
      <th></th>
      <th *ngFor="let dayName of getLessonsDayNames()">{{ dayName }}</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
      <td *ngFor="let dayName of getLessonsDayNames()">
        <ng-container *ngFor="let lesson of getLessonByDayName(dayName)">
          <div *ngIf="lesson.startLessonTime && lesson.endLessonTime">
            <div *ngIf="isCourseGrouped(lesson.classGroup.id)">
              <!-- {{ lesson.startLessonTime }} {{ lesson.endLessonTime }} -->
              <span class="time">{{ lesson.startLessonTime + '-'}}</span> 
              <span class="time">{{ lesson.endLessonTime }}</span> 
            </div>
            <div [style.background-color]="getCourseColor(lesson.classGroup.id)">
              <!-- {{ lesson.course.name }} ({{ lesson.classGroup.name }}) -->
              <span class="course-name">{{ lesson.course.name }}</span> 
              (<span class="class-group-name">{{ lesson.classGroup.name }}</span>)
            </div>
          </div>
        </ng-container>
      </td>
    </tr>
  </tfoot>
</table>



  
<!-- <table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let dayName of getLessonsDayNames()">{{ dayName }}</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
      <td *ngFor="let dayName of getLessonsDayNames()">
        <ng-container *ngFor="let lesson of getLessonByDayName(dayName)">
          <div *ngIf="lesson.startLessonTime && lesson.endLessonTime">
            <div *ngIf="isCourseGrouped(lesson.course.name)">
              {{ lesson.startLessonTime }} {{ lesson.endLessonTime }}
            </div>
            <div [style.background-color]="isCourseGrouped(lesson.course.name) ? getCourseColor(lesson.course.name) : ''">
              {{ lesson.course.name }} ({{ lesson.classGroup.name }})
            </div>
          </div>
        </ng-container>
      </td>
    </tr>
  </tfoot>
</table> -->

  
  
  
  
  
  
  


  <!-- --------------------------------------------------------------------------------------------------------------------------------------------------


<ng-container *ngFor="let dayName of getLessonsDayNames()">
  <h2>{{ dayName }}</h2>
  
  <div *ngFor="let hour of getHoursArray()">
    <div>{{ hour }}:00</div>
  
    <div *ngFor="let lesson of getLessonsByDayAndHour(dayName, hour)">
      <a *ngIf="lesson.startLessonTime && lesson.endLessonTime">
        {{ lesson.startLessonTime | date: 'HH:mm' }} - {{ lesson.endLessonTime | date: 'HH:mm' }} 
        {{ getCourseName(lesson.course) }} ({{ getClassGroupName(lesson.classGroup) }})

      </a>
    </div>

    <div *ngIf="!getLessonsByDayAndHour(dayName, hour).length">&nbsp;</div>
  </div>
</ng-container> -->

  
  





  
  
  

  
  
  
  
  

   
  
  
  
  
  

 
  

  
  