

<button (click)="openAddLessonDetailDialog()" class="add-button" *ngIf="actionsTeachacher()">Dodaj nową lekcję</button><br><br>

<!-- <div *ngFor="let day of weekDays">
  <h3>{{ day }}</h3>
  <ul>
    <li *ngFor="let lesson of lessons">
      <ng-container *ngIf="lesson.dayName.toLowerCase() === day.toLowerCase()">
        {{ lesson.name }} - {{ lesson.startLessonTime }} - {{ lesson.endLessonTime }}
      </ng-container>
    </li>
  </ul>
</div> -->

<!-- 
<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let day of weekDays">{{ day }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let timeSlot of timeSlots">
      <tr>
        <td>{{ timeSlot }}</td>
        <td *ngFor="let day of weekDays">
          <ng-container *ngFor="let lesson of lessons">
            <ng-container *ngIf="lesson.dayName.toLowerCase() === day.toLowerCase() && isLessonInTimeSlot(lesson, timeSlot)">
              {{ lesson.name }} {{ lesson.startLessonTime }} - {{ lesson.endLessonTime }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table> -->



<!-- <ng-container *ngFor="let entry of lessonsByClassGroup | keyvalue">
  <h2>{{ entry.key }}</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let day of weekDays">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let timeSlot of timeSlots">
        <tr>
          <td>{{ timeSlot }}</td>
          <td *ngFor="let day of weekDays">
            <ng-container *ngFor="let lesson of entry.value">
              <ng-container *ngIf="lesson.dayName.toLowerCase() === day.toLowerCase() && isLessonInTimeSlot(lesson, timeSlot)">
                <div (click)="openEditLessonDialog(lesson)">
                  {{ lesson.name }} {{ lesson.startLessonTime }} - {{ lesson.endLessonTime }}
                </div>
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container> -->




<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let day of weekDays">{{ day }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let timeSlot of timeSlots">
      <tr>
        <td>{{ timeSlot }}</td>
        <td *ngFor="let day of weekDays">
          <ng-container *ngFor="let entry of lessonsByClassGroup | keyvalue">
            <ng-container *ngFor="let lesson of entry.value">
              <ng-container *ngIf="lesson.dayName.toLowerCase() === day.toLowerCase() && isLessonInTimeSlot(lesson, timeSlot)">
                <div (click)="openEditLessonDialog(lesson)">
                  {{ lesson.name }} {{ lesson.startLessonTime }} - {{ lesson.endLessonTime }}
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>













  
  
  





  
  
  

  
  
  
  
  

   
  
  
  
  
  

 
  

  
  