<!-- add-user-dialog.component.html -->

<h2 mat-dialog-title>Dodaj nowego użytkownika</h2>
<div mat-dialog-content>
  <form #userForm="ngForm" class="form">
    <mat-form-field style="margin-right: 5px;">
      <input matInput placeholder="Imię" [(ngModel)]="data.firstName" name="firstName" required #firstName="ngModel">
      <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        Pole wymagane
      </mat-error>
    </mat-form-field>
    

    <mat-form-field>
      <input  matInput placeholder="Nazwisko" [(ngModel)]="data.lastName" name="lastName" required #lastName="ngModel">
      <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        Pole wymagane
      </mat-error>
    </mat-form-field>

    <mat-form-field style="margin-right: 5px;">
      <input matInput placeholder="dateOfBirth" [(ngModel)]="data.dateOfBirth" name="dateOfBirth" required  #dateOfBirth="ngModel">
      <mat-error *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">
        Pole wymagane
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="E-mail" [(ngModel)]="data.email" name="email" required  #email="ngModel">
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        Pole wymagane
      </mat-error>
    </mat-form-field>

    <mat-form-field style="margin-right: 5px;">
      <input matInput placeholder="phoneNr" [(ngModel)]="data.phoneNr" name="phoneNr" required  #phoneNr="ngModel">
      <mat-error *ngIf="phoneNr.invalid && (phoneNr.dirty || phoneNr.touched)">
        Pole wymagane
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput placeholder="Adres" [(ngModel)]="data.address" name="address" required #address="ngModel">
        <mat-error *ngIf="address.invalid && (address.dirty || address.touched)">
          Pole wymagane
        </mat-error>
    </mat-form-field>
      
   
<!-- 
    <mat-form-field appearance="fill" class="full-width" style="margin-right: 5px;"> 
        <mat-label>Rola</mat-label>
        <mat-select [(ngModel)]="data.role" name="role" #role="ngModel">
          <mat-option *ngFor="let role of availableRoles" [value]="role">
            {{ role }}
          </mat-option>
          <mat-error *ngIf="role.invalid && (role.dirty || role.touched)">
            Pole wymagane
          </mat-error>
        </mat-select>
      </mat-form-field> -->
      
      <!-- <mat-form-field appearance="fill" class="full-width">
        <mat-label>Status użytkownika</mat-label>
        <mat-select [(ngModel)]="data.userStatus" name="userStatus" #userStatus="ngModel">
          <mat-option *ngFor="let status of availableUserStatus" [value]="status" >
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

    <!-- Dodaj pozostałe pola formularza użytkownika -->

    <!-- <mat-form-field appearance="fill" class="input-container">
      <mat-label>Wybierz grupy</mat-label>
      <mat-select [(ngModel)]="data.classGroups" name="classGroups" multiple>
        <mat-option *ngFor="let group of availableClassGroups" [value]="group">
          {{ group.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <div class="dialog-buttons">
      <button mat-button color="primary" class="add-material-button" (click)="onAddClick()" [disabled]="!userForm.valid">Dodaj</button>
      <button mat-button (click)="onCancelClick()" class="cancel-button">Anuluj</button>
    </div>
  </form>
</div>
