/* Styl dla kontenera dodatkowego */
.expansion-panel-container {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
  }
  
  /* Styl dla mat-expansion-panel */
  mat-expansion-panel {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 0;
  }
  
  /* Styl dla mat-expansion-panel-header */
  mat-expansion-panel-header {
    color: white; /* Kolor tekstu w nagłówku */
  }
  
  /* Styl dla mat-panel-title (nagłówek) */
  mat-panel-title {
    padding: 10px;
    font-weight: bold;
  }
  
  /* Styl dla listy klas */
  .class-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Styl dla elementów listy */
  .class-item {
    padding: 10px;
    margin: 5px 0;
  }

  .course-name {
    font-size: 18px;
    font-weight: bold;
    color: #292727; /* Przykładowy kolor tekstu */
    
  }

  .grade-section {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Przykładowa kreska oddzielająca oceny od nagłówka */
    padding: 10px; /* Dodatkowe wypełnienie wokół całego bloku */
    margin-bottom: 10px; /* Odstęp między blokami grade-section (opcjonalny) */
  }
  
  .grades-header {
    margin-right: 10px;
    font-size: 20px; /* Zwiększenie rozmiaru czcionki dla nagłówka (opcjonalny) */
  }
  
  .grade-value {
    font-size: 18px;
    margin: 0;
  }

  .grade-final-value{
    margin-right: 5px;
  }
  
  
  
  