/* W pliku styles.css lub styles.scss */
.custom-calendar-container .fc {
    margin: 50px;
    margin-bottom: 40px !important;
}

.footer {
    background-color: #333; /* Kolor tła stopki */
    color: #fff; /* Kolor tekstu w stopce */
    padding: 20px; /* Wewnętrzny odstęp w stopce */
    text-align: center; /* Wyrównanie tekstu do środka */
    margin-top: auto;
    height: 40px;
}
  
.save-button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
    background-color: #375aca; /* Kolor tła */
    color: #fff; /* Kolor tekstu */
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  
  