
<body>
  <!-- <button (click)="togglePanel()">{{ panelVisible ? 'Schowaj' : 'Rozwiń' }}</button> -->

  <div class="admin-panel" [ngStyle]="panelStyles">    
   
      <h2>Dashboard</h2> 
        <a routerLink="/main-page" style="color: aliceblue;">Strona główna</a><br><br> 
        <a routerLink="/course-grid-view" style="color: aliceblue;">Kursy</a><br><br>
        <a routerLink="/teachingCourses-view" style="color: aliceblue;">Zarządzaj dziennikiem</a><br><br>
    <main >
    </main>
  </div>
</body>
