
<body>
  <!-- <button (click)="togglePanel()">{{ panelVisible ? 'Schowaj' : 'Rozwiń' }}</button> -->

  <div class="admin-panel" [ngStyle]="panelStyles">    
   
      <h2>Kokpit</h2> 
        <!-- <a routerLink="/main-page" style="color: aliceblue;">Strona główna</a><br><br>  -->
        <a routerLink="/course-grid-view" style="color: aliceblue;">Moje kursy</a><br><br>
        <a routerLink="/lessonSchedule" style="color: aliceblue;">Plan lekcji</a><br><br>
        <a routerLink="/calendar-view" style="color: aliceblue;">Kalendarz</a><br><br>
        <a routerLink="/teachingCourses" style="color: aliceblue;" >Dziennik nauczyciela</a><br><br>
        <a routerLink="/coursesByStudent-view" style="color: aliceblue;" *ngIf="userRole === 'user' || userRole === 'user'">Dziennik ucznia</a><br><br>
    <main >
    </main>
  </div>
</body>
