/* Globalne style dla panelu administracyjnego */
.admin-panel {
  background-color: #252525; /* Kolor tła całej strony */
  /* position: fixed; */
  top: 85px;
  left: 0;
  width: 250px;
  height: 100%; /* Panel administracyjny zajmie całą dostępną wysokość strony */
  overflow-y: auto; /* Dodaj pasek przewijania w razie potrzeby */
  z-index: 100; /* Upewnij się, że panel jest na wierzchu */
  padding: 20px; /* Dostosuj marginesy lub paddingi do Twoich potrzeb */
  margin-top: 1px;
  font-family: Arial, sans-serif; /* Wybierz odpowiednią czcionkę */
  font-size: 16px; /* Wybierz odpowiedni rozmiar czcionki */
  color: #faf8f8; /* Kolor tekstu w panelu */
}

.admin-panel a {
  text-decoration: none;
  color: #fff; /* Kolor linków (możesz dostosować go do swoich preferencji) */
}

  
  /* Styl treści głównej */
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff; /* Kolor tła treści głównej */
    color: #333; /* Kolor tekstu w treści głównej */
  }

  #toggle-button {
    /* position: fixed; */
    top: 100px;
    left: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
  