  img {
    /* Styl domyślny dla obrazka */
    height: 80px;
    margin-top: -15px;
    margin-left: -15px;
    margin-bottom: -20px;
    transition: transform 0.3s ease; /* Dodaj płynne przejście dla efektu smooth */
  }

  img:hover {
    /* Efekt po najechaniu myszką */
    transform: scale(1.1); /* Przykładowa transformacja, w tym przypadku, powiększenie obrazka o 10% */
  }


/* Włączanie kółka Bootstrapa z żółtym tłem */
.badge-warning {
  background-color: rgb(241, 174, 74);
  color: black; /* Możesz dostosować kolor tekstu, aby był czytelny na tle żółtym */
  width: 20px; /* Dostosuj szerokość kółka według preferencji */
  display: inline-block; /* Zapewnia, że szerokość jest respektowana */
  text-align: center; /* Wyrównuje tekst na środek kółka */
  line-height: 20px; /* Dopasowuje wysokość kółka, aby tekst był wyśrodkowany w pionie */
  margin-left: -25px;
}

.badge-warning2 {
  background-color: rgb(134, 132, 129);
  color: black; /* Możesz dostosować kolor tekstu, aby był czytelny na tle żółtym */
  width: 20px; /* Dostosuj szerokość kółka według preferencji */
  display: inline-block; /* Zapewnia, że szerokość jest respektowana */
  text-align: center; /* Wyrównuje tekst na środek kółka */
  line-height: 20px; /* Dopasowuje wysokość kółka, aby tekst był wyśrodkowany w pionie */
  margin-left: -25px;
}

/* Opcjonalne: Zaokrąglenie rogów */
.badge-pill {
  border-radius: 10px; /* Możesz dostosować promień, aby uzyskać pożądany efekt zaokrąglenia */
  margin-left: -35px;
}

.mat-menu-content {
  width: 500px;
}


/* Styling for the cart items */
.cart-items {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 3px; 
  margin-left: 10px;
}

.cart-item {
  padding: 8px;
  border-bottom: 1px solid #161616; /* Darker separator between items */
}

/* Styling for the empty cart message */
.empty-cart {
  padding: 10px;
  color: #888;
}

.separator {
  height: 20px;
  width: 1px;
  background-color: white;
  display: inline-block;
  margin: 0 10px; /* Możesz dostosować margines według potrzeb */
}




