.course-image {
    max-width: 200px; /* Maksymalna szerokość obrazka */
    max-height: 200px; /* Maksymalna wysokość obrazka */
    border-radius: 10px;
  }
  
  .custom-grid-list{
    width: 1000px;
    height: 900px;
    /* margin-top: 50px;
    margin-bottom: 100px; */
    margin: auto;

  }

  .custom-grid-tile{
    margin-bottom: 100px;
  }
  