<div class="col-6">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" (click)="goBack()">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
  </svg>
  <h2 style="margin-left: 10px;">Moje grupy zajeciowe w kursie {{ selectedCourseName }}</h2>
</div><br>


<!-- <mat-grid-list cols="3" rowHeight="1:1" class="custom-grid-list">
    <mat-grid-tile *ngFor="let course of courseArray" class="custom-grid-tile">
      <a [routerLink]="['/section-manage', { courseId: course.id }]">
        <img src="assets/images/ksiazka2.jpg" [alt]="course.name" class="course-image"/>  -->
         <!-- <p></p><a [routerLink]="['/section-manage', { courseId: course.id }]" style="color: rgb(8, 8, 8);">{{ course.name }}</a> -->
         <!-- <p style="display: flex; align-items: center;">
          <a [routerLink]="['/section-manage', { courseId: course.id }]" class="no-underline" style="color: rgb(8, 8, 8); font-size: 16px; text-decoration: none; transition: transform 0.3s;">
            {{ course.name }}
          </a>
        </p>
      </a>

      
    </mat-grid-tile>
</mat-grid-list> -->

<!-- <div>
  <button mat-raised-button (click)="filterClassGroupsByStatus('Wszystkie')">Wszystkie</button>
  <button mat-raised-button (click)="filterClassGroupsByStatus('OCZEKUJĄCY')">OCZEKUJĄCY</button>
  <button mat-raised-button (click)="filterClassGroupsByStatus('WTRAKCIE')">W TRAKCIE</button>
  <button mat-raised-button (click)="filterClassGroupsByStatus('ZAKOŃCZONY')">ZAKOŃCZONY</button>
</div> -->

<mat-button-toggle-group name="status" [(ngModel)]="selectedStatus" style="margin-left: 7px;" class="custom-button-group ">
  <mat-button-toggle (click)="filterClassGroupsByStatus('Wszystkie')" value="Wszystkie">Wszystkie</mat-button-toggle>
  <mat-button-toggle (click)="filterClassGroupsByStatus('OCZEKUJĄCY')" value="OCZEKUJĄCY">OCZEKUJĄCY</mat-button-toggle>
  <mat-button-toggle (click)="filterClassGroupsByStatus('WTRAKCIE')"value="WTRAKCIE">W TRAKCIE</mat-button-toggle>
  <mat-button-toggle (click)="filterClassGroupsByStatus('ZAKOŃCZONY')" value="ZAKOŃCZONY">ZAKOŃCZONY</mat-button-toggle>
</mat-button-toggle-group><br><br>


<!-- <mat-grid-list cols="3" rowHeight="1:1" class="custom-grid-list">
  <mat-grid-tile *ngFor="let course of filteredCourses" class="custom-grid-tile">
    <div class="tile-container">
      <a [routerLink]="['/section-manage', { courseId: course.id }]" class="no-underline">
        <img src="assets/images/no-image.jpg" [alt]="course.name" class="course-image"/>
        <p>
          <a [routerLink]="['/section-manage', { courseId: course.id }]" class="no-underline" style="color: rgb(8, 8, 8); font-size: 16px; text-decoration: none; transition: transform 0.3s;">
            {{ course.name }}
          </a>
        </p>
      </a>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->

<mat-grid-list cols="3" rowHeight="1:1" class="custom-grid-list">
  <mat-grid-tile *ngFor="let course of filteredCourses" class="custom-grid-tile" [hidden]="selectedCourseName && course.name !== selectedCourseName">
    <div class="tile-container">
      <a [routerLink]="['/classGroupsInCourse', course.id]" class="no-underline">
        <img *ngIf="course.image" [src]="getImageSource(course.image)" [alt]="course.name" class="course-image"/>
        <img *ngIf="!course.image" src="assets/images/no-image.jpg" [alt]="course.name" class="course-image"/>
        <p style="display: flex; align-items: center; margin-left: 23px;">
          <a [routerLink]="['/classGroup-grid-view', course.id]" class="no-underline" style="color: rgb(8, 8, 8); font-size: 16px; text-decoration: none; ">
            {{ course.name }} {{ course.difficultyLevel }}
          </a>
        </p>
      </a>
    </div>
  </mat-grid-tile>
</mat-grid-list>


<footer class="footer">
  <div class="container">
    <p>&copy; 2023 EduSolution. Wszelkie prawa zastrzeżone.</p>
    <p>Kontakt: kontakt@example.com</p>
  </div>
</footer>
  
  

  