
<body>

<div>
    <h2 style="font-size: 25px;">Informacje o użytkowniku</h2>
    <p *ngIf="!isEditing" style="font-size: 18px;"><strong>Nazwa użytkownika:</strong> {{ user?.username }}</p>
    <p *ngIf="!isEditing" style="font-size: 18px;"><strong>Numer albumu:</strong> {{ user?.albumNr }}</p>
    <p *ngIf="!isEditing" style="font-size: 18px;"><strong>Data urodzenia:</strong> {{ user?.dateOfBirth }}</p>
    <p *ngIf="!isEditing" style="font-size: 18px;"><strong>Email:</strong> {{ user?.email }}</p>
    <p *ngIf="!isEditing" style="font-size: 18px;"><strong>Numer telefonu:</strong> {{ user?.phoneNr }}</p>
    <p *ngIf="!isEditing" style="font-size: 18px;"><strong>Adres:</strong> {{ user?.address }}</p>
    <p *ngIf="!isEditing" style="font-size: 18px;"><strong>Rola:</strong> {{ user?.role }}</p>
    <p *ngIf="!isEditing" style="font-size: 18px;"><strong>Status:</strong> {{ user?.userStatus }}</p>
  
    <!-- <button (click)="toggleEdit()">{{ isEditing ? 'Zapisz' : 'Edytuj' }}</button> -->
  </div>

  <div *ngIf="user">
    <h2>Zmień hasło</h2>
    

    <div>
    <label for="oldPassword">Stare hasło</label>
      <input type="{{ showOldPassword ? 'text' : 'password' }}" id="oldPassword" [(ngModel)]="user.changePassword.oldPassword" />
      <mat-icon *ngIf="showOldPassword" class="password-toggle" (click)="toggleShowOldPassword()">visibility_off</mat-icon>
      <mat-icon *ngIf="!showOldPassword" class="password-toggle" (click)="toggleShowOldPassword()">visibility</mat-icon>
      
      <!-- <label for="newPassword">Nowe hasło:</label>
      <input type="password" id="newPassword" [(ngModel)]="user.changePassword.newPassword" />

      <label for="newPasswordConfirm">Nowe hasło (potwierdź):</label>
      <input type="password" id="newPasswordConfirm" [(ngModel)]="user.changePassword.newPasswordConfirm" />
    </div> -->

    
      <label for="newPassword">Nowe hasło:</label>
        <input type="{{ showPassword ? 'text' : 'password' }}" id="newPassword" [(ngModel)]="user.changePassword.newPassword" />
        <mat-icon *ngIf="showPassword" class="password-toggle" (click)="toggleShowPassword()">visibility_off</mat-icon>
        <mat-icon *ngIf="!showPassword" class="password-toggle" (click)="toggleShowPassword()">visibility</mat-icon>
    
      <label for="newPasswordConfirm">Nowe hasło (potwierdź):</label>
        <input type="{{ showPasswordConfirm ? 'text' : 'password' }}" id="newPasswordConfirm" [(ngModel)]="user.changePassword.newPasswordConfirm" />
        <mat-icon *ngIf="showPasswordConfirm" class="password-toggle" (click)="toggleShowPasswordConfirm()">visibility_off</mat-icon>
        <mat-icon *ngIf="!showPasswordConfirm" class="password-toggle" (click)="toggleShowPasswordConfirm()">visibility</mat-icon>
    </div>
    
    
  
    <!-- <button (click)="toggleEditPassword(); changePassword(user.id)">{{ isEditingPassword ? 'Zapisz' : 'Edytuj' }}</button> -->
    <!-- <button (click)="isEditingPassword ? changePassword(user.changePassword) : toggleEditPassword()">
      {{ isEditingPassword ? 'Zapisz' : 'Edytuj' }}
    </button> -->

    <button (click)="changePassword(user.changePassword)">
      Zapisz
    </button>

    

    

  </div>

  <!-- <footer>
    <p>&copy; 2024 EduSolution. Wszelkie prawa zastrzeżone.</p>
    <p>Kontakt: eduSolution@gmail.com</p>
  </footer> -->
  </body>
