/* Style dla głównego kontenera */
div {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Style dla sekcji informacji o użytkowniku */
h2 {
    color: #333;
}

p {
    margin: 8px 0;
}

/* Style dla sekcji zmiany hasła */
h2 {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    background-color: #375aca;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #375aca;
}

.password-input-container {
    position: relative;
  }
  
  .password-input-container input {
    padding-right: 40px; /* Ustawienie odpowiedniego odstępu dla ikony */
    border-radius: 5px;
  }
  
  .password-toggle {
    position: relative;
    right: -525px;
    top: -30px;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 15px;
  }
  