.event-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
mat-select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Dodane style dla pól wyboru */
mat-form-field {
  width: 100%;
}

.mat-select {
  width: 100%;
}

.form-actions {
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button[type="button"] {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

