<!-- <mat-grid-list cols="3" rowHeight="1:1" class="custom-grid-list">
    <p>{{ selectedCourseDescription }}</p>
    <h2>Dostępne grupy w kursie: {{selectedCourseName}}</h2>
    <mat-grid-tile *ngFor="let classGroup of classGroupArray" class="custom-grid-tile">
      <a>
        <img src="assets/images/ksiazka2.jpg" [alt]="classGroup.name" class="course-image"/> 
         <p></p><a [routerLink]="['/']" style="color: rgb(8, 8, 8);">{{ classGroup.name }}</a><br>
         <button type="button" class="btn btn-outline-primary">Kup</button>
         <button type="button" class="btn btn-outline-primary" (click)="addToCart(classGroup)">Dodaj do koszyka</button>
      </a>
    </mat-grid-tile>
  </mat-grid-list> -->


  <div class="col-6">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" (click)="goBack()">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
    <h2 style="margin-left: 10px;"></h2>
  </div><br>

  <h1>Wybrane grupy zajęciowe w kursie {{ selectedCourseName }}</h1><br><br>
  
  
  <mat-grid-list cols="3" rowHeight="1:1" class="custom-grid-list">
    <mat-grid-tile *ngFor="let course of filteredCourses" class="custom-grid-tile">
      <div class="tile-container">
        <a [routerLink]="['/section-manage', { courseId: course.id }]" class="no-underline">
          <img src="assets/images/ksiazka2.jpg" [alt]="course.name" class="course-image"/>
          <p>
            <a [routerLink]="['/offer-description',  course.id ]" class="no-underline" style="color: rgb(8, 8, 8); font-size: 16px; text-decoration: none; transition: transform 0.3s;">
              {{ course.name }}
            </a>
          </p>
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  